
<a routerLink="/app/customers/borrowers/{{Details?.user.id}}/general" class="return">&larr; Back</a>


<div *ngIf="Details">

<div class="row">

  <div class="col-md-12 col-12 mb-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
              <div class="col-md-9 col-12 col-mb-12">
                  <div class="user-data">
                      <h3>{{!Details?.loan_profile.purpose ? 'N/A' : Details?.loan_profile.purpose}}</h3>
                      <h6>{{!Details?.loan_profile.loan_id ? 'N/A' : Details?.loan_profile.loan_id}}</h6>
                  </div>
              </div>
              <div class="col-md-3 col-12 col-mb-12">
                  <div class="user-data">
                      <h6>Loan Amount</h6>
                      <h4>₦{{!Details?.loan_amount ? 'N/A' : Details?.loan_amount}}</h4>
                  </div>
              </div>
          </div>
  
          <div class="row">
            <div class="col-md-3 text-left">
                <div class="col-md-12">
                  <small class="text-muted">
                      Tenor
                  </small>
                  <h6>{{!Details?.tenor_type.value ? 'N/A' : Details?.tenor_type.value}} days</h6>
                </div>
            </div>
            <div class="col-md-3 text-left">
                <div class="col-md-12">
                  <small class="text-muted">
                      Application Date
                  </small>
                  <h6>{{!Details?.created_on ? 'N/A' : Details?.created_on | date}}.</h6>
                </div>
            </div>
            <div class="col-md-3 text-left">
                <div class="col-md-12">
                  <small class="text-muted">
                      Repayment Date
                  </small>
                  <h6>{{!Details?.schedule.repayment_day ? 'N/A' : Details?.schedule.repayment_day | date}}.</h6>
                </div>
            </div>
            <div class="col-md-3 text-left">
                <div class="col-md-12 red">
                  <small class="text-muted">
                      Status
                  </small>
                  <h6>{{!Details?.status.status ? 'N/A' : Details?.status.status}}</h6>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">

  <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="col-md-12 col-12 mb-12">
              This section contains important details about the Borrower, in the form of list items. The same details provided by the lender when they joined the platform as well as other important data needed for the admin user.
              <hr>
          </div>
          <div class="col-md-12 col-12 mb-12">
            <h3>Personal Information</h3>
          </div>
            <div class="row">
              <div class="col-md-3">
                    <div class="col-md-12">
                        <small class="text-muted">
                            Full name
                        </small>
                        <h6><strong>{{!Details?.user.first_name ? 'N/A' : Details?.user.first_name}} {{!Details?.user.last_name ? 'N/A' : Details?.user.last_name}}</strong></h6>
                      </div>
              </div>
              <div class="col-md-3">
                    <div class="col-md-12">
                        <small class="text-muted">
                            Mobile Number
                        </small>
                        <h6><strong>{{!Details?.user.phone_number ? 'N/A' : Details?.user.phone_number}}</strong></h6>
                      </div>
              </div>
              <div class="col-md-3">
                    <div class="col-md-12 ">
                        <small class="text-muted">
                            BVN
                        </small>
                        <h6><strong>{{!Details?.user.bvn ? 'N/A' : Details?.user.bvn}}</strong></h6>
                      </div>
              </div>
              <div class="col-md-3">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Gender
                    </small>
                    <h6><strong>{{!Details?.loan_profile.gender ? 'N/A' : Details?.loan_profile.gender}}</strong></h6>
                  </div>
              </div>
  
              <div class="col-md-3">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Email Address
                    </small>
                    <h6><strong>{{!Details?.user.email ? 'N/A' : Details?.user.email}}</strong></h6>
                  </div>
              </div>
  
              <div class="col-md-3">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Marital Status
                    </small>
                    <h6><strong>{{!Details?.loan_profile.marital_status ? 'N/A' : Details?.loan_profile.marital_status}}</strong></h6>
                  </div>
              </div>
  
              <div class="col-md-3">
                  <div class="col-md-12">
                    <small class="text-muted">
                        No. of Dependants
                    </small>
                    <h6><strong>{{!Details?.loan_profile.no_of_dependent ? 'N/A' : Details?.loan_profile.no_of_dependent}}</strong></h6>
                  </div>
              </div>
  
              <div class="col-md-3">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Type of Residence
                    </small>
                    <h6><strong>{{!Details?.loan_profile.type_of_residence ? 'N/A' : Details?.loan_profile.type_of_residence}}</strong></h6>
                  </div>
              </div>
            </div>


            <div class="col-md-12 col-12 mb-12">
              <hr>
              <h3>Education &amp; Employment Details</h3>
            </div>

            <div class="row">
              <div class="col-md-3">
                    <div class="col-md-12">
                        <small class="text-muted">
                            Level Of Education
                        </small>
                        <h6><strong>{{!Details?.loan_profile.educational_attainment ? 'N/A' : Details?.loan_profile.educational_attainment}}</strong></h6>
                      </div>
              </div>
              <div class="col-md-3">
                    <div class="col-md-12">
                        <small class="text-muted">
                            Employment Status
                        </small>
                        <h6><strong>{{!Details?.loan_profile.employment_status ? 'N/A' : Details?.loan_profile.employment_status}}</strong></h6>
                      </div>
              </div>
              <div class="col-md-3">
                    <div class="col-md-12 ">
                        <small class="text-muted">
                            Sector Of Employment
                        </small>
                        <h6><strong>{{!Details?.loan_profile.sector_of_employment ? 'N/A' : Details?.loan_profile.sector_of_employment}}</strong></h6>
                      </div>
              </div>
              <div class="col-md-3">
                  <div class="col-md-12">
                    <small class="text-muted">
                      Started work.
                    </small>
                    <h6><strong>{{!Details?.loan_profile.work_start_date ? 'N/A' : Details?.loan_profile.work_start_date | date}}</strong></h6>
                  </div>
              </div>
  
              <div class="col-md-3">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Monthly Income
                    </small>
                    <h6><strong>{{!Details?.loan_profile.monthly_net_income ? 'N/A' : Details?.loan_profile.monthly_net_income}}</strong></h6>
                  </div>
              </div>
  
              <div class="col-md-3">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Loan Repayment
                    </small>
                    <h6><strong>{{!Details?.paid ? 'N/A' : Details?.paid}}</strong></h6>
                  </div>
              </div>
  
              <div class="col-md-3">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Official Email Address
                    </small>
                    <h6><strong>{{!Details?.loan_profile.work_email ? 'N/A' : Details?.loan_profile.work_email}}</strong></h6>
                  </div>
              </div>    
            </div>

          </div>    
        </div>
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="card" *ngIf="!Details">
      <div class="card-body">
        <h3 class="text-center text-muted">Loading...</h3>
      </div>
    </div>
  </div>
</div>