<br>


<div class="col-md-12">
<div class="card">
    <div class="card-body">
        <h4 class="text-center">Reset Password</h4>
        </div>
</div>
</div>
<br>

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <!-- <div class="row"> -->
                <div class="row">
                    <div class="col-md-3 col-lg-4 col-xl-4"></div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="col-md-12">
                              <div *ngIf="msg" class="alert alert-info text-center" style="padding: 0px 0px;">
                                <alert [type]="showAlert" dismissible="true" (onClosed)="onClosed()">{{msg}}</alert>
                              </div>
                            </div>
                        <form #updateForm="ngForm" (submit)="reset()">
                           
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="email">Email Address</label>
                                    <input type="email" name="email" value="{{email}}" disabled id="email" class="form-control" required>
                                </div>
                            </div>
                           

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="password">New Password</label>
                                    <input type="password" name="password" id="password" class="form-control" [(ngModel)]="ResetDetails.password" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <button type="submit" [disabled]="updateForm.invalid" class="btn btn-primary col-md-12">Change Password</button>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            </form>
                    </div>
                
                    <div class="col-md-3 col-lg-4 col-xl-4"></div>
                    <!-- <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="pic medium square ml-12 profile-img" style="height: 17.5rem; ">
                                  <img src="../../../../assets/img/nav/image.svg" alt="" class="img-fluid">
                                </span>
                            </div>
                        </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-primary col-md-12">Add Image</button>
                                </div>
                            </div>
                        </div> -->
                
                       
                    </div>
                
                
            <!-- </div> -->


        </div>
    </div>
</div>
