<!-- <app-headers title="Savers"></app-headers> -->
<a routerLink="/app/business/savings" class="return">&larr; Back</a>


<div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body-menu">
              <ul class="menu-list-3">
                  <li><a routerLink="/app/business/savings/LSQ1234876/saver-details/" routerLinkActive="active-link">Saver's Details</a></li>
                  <li><a routerLink="/app/business/savings/LSQ1234876/savings-details" routerLinkActive="active-link">Savings Details</a></li>
              </ul>  

            </div>
        </div>
    </div>
</div>


<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 col-12 mb-12">
            <div class="user-data">
                <h3>Travel Savings</h3>
                <small>LSQ38389290</small>
            </div>
            <hr>
        </div>
        <div class="col-md-12 col-12 mb-12">
        <div class="row">
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                    <small class="text-muted">
                        Full name
                    </small>
                    <h5><strong>Saidi Balogun</strong></h5>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 red">
                    <small class="text-muted">
                        Mobile Number
                    </small>
                    <h5><strong>09089544444</strong></h5>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 red">
                    <small class="text-muted">
                        BVN
                    </small>
                    <h5><strong>9829379234</strong></h5>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <small class="text-muted">
                    Email Address
                </small>
                <h5><strong>xyz@domain.com</strong></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <span class="pic medium square ml-12 profile-img" style="height: 17.5rem;">
          <img src="../../../../assets/img/nav/image.svg" alt="" class="img-fluid">
        </span>  
        </div>    
      </div>
  </div>
</div>