
<app-headers title="Borrowers"></app-headers>



<div class="row" *ngIf="list">
  <div class="col-12">
      <!-- <mat-divider></mat-divider> -->
      <div class="table-responsive">

        <div class="row justify-content-between align-items-center">
          <div class="col">
            <h5 class="m-0 p-0 text-dark-blue">All Borrowers</h5>
          </div>

          <div class="col-md-5 col-12 mb-12">
            <span class="has-search">
                <mat-icon class="icon ml-1 search-icon">search</mat-icon>
              <input type="text" name="search" placeholder="Search by ID, name, e.t.c" class="search form-control" />
            </span>
          </div>
        </div>

        <table class="table">
          <thead class="table-head">
            <tr>
              <th scope="col">Borrower</th>
              <th scope="col">ID</th>
              <th scope="col">Date Joined</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="text-muted">

<!-- 
            <td>Okonkwo Henry</td>
            <td>LSQ1234876</td>
            <td>14, Sept 2019</td>
            <td> <span class="badge badge-success">Active</span></td>
            <td><ul class="status"><li class="active">Active</li></ul></td>
            <span [matMenuTriggerFor]="action" class="action">
            <td>&#8226;&#8226;&#8226;</td>
            </span> -->



              <tr *ngFor="let each of list">
                  <td><a routerLink="{{each.user_id}}/general">{{each.last_name | titlecase}} {{each.first_name | titlecase}}</a></td>
                  <td><a routerLink="{{each.user_id}}/general">{{each.user_id}}</a></td>
                  <td>{{each.created_on | date}}</td>
                  <td *ngIf="each.activated === 1"><span class="badge badge-success">Active</span></td>
                  <td *ngIf="each.activated !== 1"><span class="badge badge-danger">Inactive</span></td>
                  <td><span [matMenuTriggerFor]="action" class="action">
                  &#8226;&#8226;&#8226;</span></td>
                  
                </tr>
                <mat-menu #action="matMenu" class="mt-3">
                  <ng-container>
                    <button mat-menu-item routerLink="/">
                      <mat-icon svgIcon="activate"></mat-icon>
                      <span>Activate</span>
                    </button>
                    <button mat-menu-item routerLink="/">
                      <mat-icon svgIcon="deactivate"></mat-icon>
                      <span>Dectivate</span>
                    </button>
                    <button mat-menu-item routerLink="/">
                      <mat-icon svgIcon="blacklist"></mat-icon>
                      <span>Blacklist</span>
                    </button>
                  </ng-container>
                </mat-menu>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="!list">
        <div class="card-body">
          <h3 class="text-center text-muted">Retrieving Borrowers...</h3>
        </div>
      </div>
    </div>
  </div>

<!-- 
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-5">
      <div class="card-body">
        <div class="row justify-content-between align-items-center">
          <div class="col-7">
            <form class="row align-content-center">
              <div class="col">
                <div class="form-group mb-3 mb-md-0">
                  <span class="has-search">
                    <mat-icon class="icon ml-2">search</mat-icon>
                    <input type="text" name="search" class="search form-control" />
                  </span>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3 mb-md-0">
                  <select class="form-control">
                    <option value="">Type</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3 mb-md-0">
                  <select class="form-control">
                    <option value="">Status</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="col-4 text-right">
            <button class="btn btn-sm btn-link">RESET</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Borrowers</th>
              <th scope="col">ID</th>
              <th scope="col">Type</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="text-muted">
            <tr *ngFor="let obj of list">
              <td class="cursor" (click)="viewDetails(obj)">{{obj.last_name | titlecase}}
                {{obj.first_name | titlecase}}
                {{!obj.first_name && !obj.last_name ? obj.business_name: ''}}</td>
              <td class="cursor" (click)="viewDetails(obj)">
                  <span class="text-uppercase">{{obj.user_id}}</span>
              </td>
              <td class="cursor" (click)="viewDetails(obj)">{{!obj.user.business_name ? 'Individual': 'Business'}}</td>
              <td class="cursor" (click)="viewDetails(obj)">{{obj.created_on | date:'mediumDate'}}</td>
              <td class="cursor" (click)="viewDetails(obj)">
                <span class="badge badge-verified" *ngIf="obj.activated === 1">Activated</span>
                <span class="badge badge-pending" *ngIf="!obj.activated === 1">Not Activated</span>
              </td>

              <td class="p-2 m-0">
                <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More actions">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item routerLink="/app/customers/lenders/view">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>close</mat-icon>
                    <span>Deactivate</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>not_interested</mat-icon>
                    <span>Blacklist</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->