<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- <mat-toolbar>
        <img src=".../../../../../assets/img/logo.svg" class="img-fluid pr-5 logo" alt="Lendsqr">
    </mat-toolbar> -->
    <mat-nav-list>

      <ul class="app-nav" id="navigate">
        <ng-container *ngFor="let view of general; let i = index">
          <li routerLinkActive="active">
            <a routerLink="{{view.url}}"  mat-list-item>
              <!-- <mat-icon mat-list-icon svgIcon="{{view.icon}}"></mat-icon> -->
              <span mat-line class="w-100 d-flex justify-content-between align-items-center ">
                {{view.route}}
                <mat-icon mat-list-icon *ngIf="view.sub && view.sub.length > 0">
                  {{!showSub[i] && view.sub && view.sub.length > 0 ? 'arrow_drop_down' : 'arrow_drop_up'}}
                </mat-icon>
              </span>

            </a>
          </li>
          <ul *ngIf="view.sub && view.sub.length > 0" [hidden]="!showSub[i]">
            <li *ngFor="let sub of view.sub">
              <a routerLink="{{sub.url}}" class="pl-5" mat-list-item>
                <span mat-line>{{sub.route}}</span>
              </a>
            </li>
          </ul>
        </ng-container>
        <div class="px-3 py-2 bg-gray text-muted">
          Customers
        </div>
        <ng-container *ngFor="let view of customers; let i = index">
          <li routerLinkActive="active">
            <a routerLink="{{view.url}}"  mat-list-item>
              <!-- <mat-icon mat-list-icon svgIcon="{{view.icon}}"></mat-icon> -->
              <span mat-line class="w-100 d-flex justify-content-between align-items-center ">
                {{view.route}}
                <mat-icon mat-list-icon *ngIf="view.sub && view.sub.length > 0">
                  {{!showSub[i] && view.sub && view.sub.length > 0 ? 'arrow_drop_down' : 'arrow_drop_up'}}
                </mat-icon>
              </span>

            </a>
          </li>
          <ul *ngIf="view.sub && view.sub.length > 0" [hidden]="!showSub[i]">
            <li *ngFor="let sub of view.sub">
              <a routerLink="{{sub.url}}" class="pl-5" mat-list-item>
                <span mat-line>{{sub.route}}</span>
              </a>
            </li>
          </ul>
        </ng-container>
        <div class="px-3 py-2 bg-gray text-muted">
          Business
        </div>
        <ng-container *ngFor="let view of business; let i = index">
          <li routerLinkActive="active">
            <a routerLink="{{view.url}}"  mat-list-item>
              <!-- <mat-icon mat-list-icon svgIcon="{{view.icon}}"></mat-icon> -->
              <span mat-line class="w-100 d-flex justify-content-between align-items-center ">
                {{view.route}}
                <mat-icon mat-list-icon *ngIf="view.sub && view.sub.length > 0">
                  {{!showSub[i] && view.sub && view.sub.length > 0 ? 'arrow_drop_down' : 'arrow_drop_up'}}
                </mat-icon>
              </span>

            </a>
          </li>
          <ul *ngIf="view.sub && view.sub.length > 0" [hidden]="!showSub[i]">
            <li *ngFor="let sub of view.sub">
              <a routerLink="{{sub.url}}" class="pl-5" mat-list-item>
                <span mat-line>{{sub.route}}</span>
              </a>
            </li>
          </ul>
        </ng-container>
        <div class="px-3 py-2 bg-gray text-muted">
          Settings
        </div>
        <ng-container *ngFor="let view of settings; let i = index">
          <li routerLinkActive="active" (click)="showSub[i] = !showSub[i]">
            <a routerLink="{{view.url}}" mat-list-item>
              <!-- <mat-icon mat-list-icon svgIcon="{{view.icon}}"></mat-icon> -->
              <span mat-line class="w-100 d-flex justify-content-between align-items-center ">
                {{view.route}}
                <mat-icon mat-list-icon *ngIf="view.sub && view.sub.length > 0">
                  {{!showSub[i] && view.sub && view.sub.length > 0 ? 'arrow_drop_down' : 'arrow_drop_up'}}
                </mat-icon>
              </span>

            </a>
          </li>
          <ul *ngIf="view.sub && view.sub.length > 0" [hidden]="!showSub[i]">
            <li *ngFor="let sub of view.sub">
              <a routerLink="{{sub.url}}" class="pl-5" mat-list-item>
                <span mat-line>{{sub.route}}</span>
              </a>
            </li>
          </ul>
        </ng-container>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="px-lg-5 px-md-2 px-2 toolbar-position">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="col-xl-8 col-md-6 col-6">
        <span class="has-search">
          <mat-icon class="icon text-success ml-2">search</mat-icon>
          <input type="text" name="search" class="search form-control" placeholder="Search for anything" />
        </span>
      </span>
      <span class="spacer"></span>
        
      <!-- <span>lendsqr</span> -->
      <span class="spacer"></span>

      <span [matMenuTriggerFor]="menu" class="col-auto p-0">


        <span class="pic small round ml-3">
          <img src="../../../../assets/img/notification-placeholder.png" alt="" class="img-fluid">
        </span>

        <span class="pic small round ml-3">
            <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
        </span>
      
        <button class="btn btn-sm btn-simple d-none d-sm-inline-block">
          <!-- Maria Cole -->
        </button>
      </span>
      <mat-menu #menu="matMenu" class="mt-3">
        <small class="mx-3 pb-2">WELCOME!</small>
        <ng-container *ngFor="let item of userMenu">
          <button mat-menu-item routerLink="{{item.url}}">
            <mat-icon svgIcon="{{item.icon}}"></mat-icon>
            <span>{{item.route}}</span>
          </button>
        </ng-container>
      </mat-menu>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
