<a routerLink="/app/business/loan-product" class="return">&larr; Back</a>

<app-headers title="Add New Loan Products"></app-headers>



<br>
<!-- <div class="col-md-12">
    <div class="card">
    <div class="card-body">
        <form [formGroup]="firstFormGroup" (ngSubmit)="createProduct()">
            <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper" style="background-color: transparent;">
                <mat-step [stepControl]="firstFormGroup">
 

                    <div class="row" style="padding: 2rem 2rem;">
                        <div class="col-md-6 col-12 col-mb-12">
                            <div class="user-data centered">
                                <h4>Loan Details</h4>
                                <small class="text-muted">Enter loan details here</small>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mb-12">
                            <mat-form-field class="col-md-12">
                                <input matInput placeholder="Loan Product Name" formControlName="productName" required>
                              </mat-form-field>
                              <mat-form-field class="col-md-6">
                                <input matInput placeholder="Amount Range (Max)" formControlName="maxAmt" required>
                              </mat-form-field>
                              <mat-form-field class="col-md-6">
                                <input matInput placeholder="Amount Range (min)" formControlName="minAmt" required>
                              </mat-form-field>
                              <mat-form-field class="col-md-6">
                                <input matInput placeholder="Interest %" formControlName="interest" required>
                              </mat-form-field>

                                <mat-select formControlName="tenor" (change)="changeTenor($event)" class="col-md-6" placeholder="Tenor" >
                                    <mat-option  *ngFor="let each of tenor" value="{{each.value}}">{{each.value}} days</mat-option>
                                </mat-select>

                              <div class="row">
                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-success col-md-12">Save for later</button>
                                </div>
                                <div class="form-group col-md-6">
                                    <button matStepperNext class="btn btn-primary col-md-12">Next</button>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </mat-step>
                <mat-step>


                    <div class="row" style="padding: 2rem 2rem;">
                        <div class="col-md-6 col-12 col-mb-12">
                            <div class="user-data centered">
                                <h4>Repayment Details</h4>
                                <small class="text-muted">Enter loan repayment details here</small>
                            </div>
                        </div>

                        <div class="col-md-6 col-12 mb-12">
                                <mat-select formControlName="eachMethod" style="margin-bottom: 2rem;" class="col-md-12" placeholder="Repayment Method" >
                                    <mat-option  *ngFor="let each of method" value="{{each.id}}">{{each.name}}</mat-option>
                                </mat-select>
                                
                                <mat-select class="col-md-12" placeholder="Repayment Model" formControlName="model">
                                    <mat-option *ngFor="let each of model" value="{{each.id}}">{{each.name}}</mat-option>
                                </mat-select>
                              <div class="row">
                                <div class="form-group col-md-6">
                                    <button mat-button matStepperPrevious class="btn btn-success col-md-12">Back</button>
                                </div>
                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-primary col-md-12">Save</button>
                                </div>
                            
                            </div>
                        </div>


                    </div>

                </mat-step>
              </mat-horizontal-stepper>
              </form>
        </div>   
    </div>
</div> -->






<div class="col-md-12">
    <div class="card">
    <div class="card-body">
        <div *ngIf="msg" class="alert alert-info text-center">{{msg}}</div>
        <form #firstFormGroup="ngForm" (submit)="createProduct()">
            <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper" style="background-color: transparent;">
                <mat-step [stepControl]="firstFormGroup">
 

                    <div class="row" style="padding: 2rem 2rem;">
                        <div class="col-md-6 col-12 col-mb-12">
                            <div class="user-data centered">
                                <h4>Loan Details</h4>
                                <small class="text-muted">Enter loan details here</small>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12 col-lg-6 col-xl-6">
                            <mat-form-field class="col-md-12">
                                <input matInput placeholder="Loan Product Name" [(ngModel)]="loanProduct.name" id="productName" name="productName" required>
                              </mat-form-field>
                              <mat-form-field class="col-md-6">
                                <input type="number" matInput placeholder="Amount Range (Max)" id="maxAmt" [(ngModel)]="loanProduct.max_amount" name="maxAmt" required>
                              </mat-form-field>
                              <mat-form-field class="col-md-6">
                                <input type="number" matInput placeholder="Amount Range (min)" id="minAmt" [(ngModel)]="loanProduct.min_amount" name="minAmt" required>
                              </mat-form-field>
                              <mat-form-field class="col-md-6">
                                <input type="number" matInput placeholder="Interest %" id="interest" [(ngModel)]="loanProduct.interest_rate" name="loanProduct.interest_rate" required>
                              </mat-form-field>

                                <mat-select id="tenor" [(ngModel)]="loanProduct.tenor_type" name="tenor" class="col-md-6" placeholder="Tenor" >
                                    <mat-option  *ngFor="let each of tenor" value="{{each.value}}">{{each.value}} days</mat-option>
                                </mat-select>

                              <div class="row">
                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-success col-md-12">Save for later</button>
                                </div>
                                <div class="form-group col-md-6">
                                    <button type="button" matStepperNext class="btn btn-primary col-md-12">Next</button>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </mat-step>
                <mat-step>


                    <div class="row" style="padding: 2rem 2rem;">
                        <div class="col-md-6 col-12 col-mb-12" style="margin-bottom: 2rem;">
                            <div class="user-data centered">
                                <h4>Repayment Details</h4>
                                <small class="text-muted">Enter loan repayment details here</small>
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                                <mat-select id="method" [(ngModel)]="loanProduct.repayment_method_id" name="method" style="margin-bottom: 2rem;" class="col-md-12" placeholder="Repayment Method" >
                                    <mat-option  *ngFor="let each of method" value="{{each.id}}">{{each.name | titlecase}}</mat-option>
                                </mat-select>
                                
                                <mat-select class="col-md-12" placeholder="Repayment Model" id="model" [(ngModel)]="loanProduct.repayment_model_id" name="model">
                                    <mat-option *ngFor="let each of model" value="{{each.id}}">{{each.name | titlecase}}</mat-option>
                                </mat-select>
                              <div class="row">
                                <div class="form-group col-md-6">
                                    <button matStepperPrevious class="btn btn-success col-md-12">Back</button>
                                </div>
                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-primary col-md-12">Save</button>
                                </div>
                            
                            </div>
                        </div>


                    </div>

                </mat-step>
              </mat-horizontal-stepper>
              </form>
        </div>   
    </div>
</div>














<!-- 

<div class="row">
    <div class="col-md-12 col-12 col-mb-12">



                 <ngb-tabset type="pills" justify="justified">
                    <br>
                    <ngb-tab title="Loan Details">
                        
                        <ng-template ngbTabContent>
<br>
                            <div class="card">
                                <div class="card-body">


                                    <div class="row" style="padding: 2rem 2rem;">
                                        <div class="col-md-6 col-12 col-mb-12">
                                            <div class="user-data centered">
                                                <h4>Loan Details</h4>
                                                <small class="text-muted">Enter loan details here</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 mb-12">
                                            <form action="">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label for="productName">Loan Product Name</label>
                                                        <input type="text" id="productName" class="form-control ">
                                                    </div>
                                                </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label for="productName">Amount Range <span class="text-right">(N)</span> </label>
                                                            <input type="text" id="productName" placeholder="Min" class="form-control ">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="productName"> </label>
                                                            <input type="text" id="productName" placeholder="Max" class="form-control ">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label for="productName">Interest Rate</label>
                                                            <input type="text" id="productName" placeholder="Interest %" class="form-control">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="productName">Tenor</label>
                                                            <select id="productName" class="form-control" style="height: 2.5rem;">
                                                                <option value="15 days">15 Days</option>
                                                                <option value="30 days">30 Days</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <button type="submit" class="btn btn-success col-md-12">Save for later</button>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <button type="submit" class="btn btn-primary col-md-12">Next</button>
                                                        </div>
                                                    
                                                    </div>
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </ng-template>
                    </ngb-tab>

                    <br>
                    <ngb-tab title="Repayment Details">
                        <ng-template ngbTabContent>
                            <br>

                            <div class="card">
                                <div class="card-body">

                                    <div class="row" style="padding: 2rem 2rem;">
                                        <div class="col-md-6 col-12 col-mb-12">
                                            <div class="user-data centered">
                                                <h4>Repayment Details</h4>
                                                <small class="text-muted">Enter loan repayment details here</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 mb-12">
                                            <form action="">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label for="productName">Repayment Method</label>
                                                        <select id="productName" class="form-control ">
                                                            <option value="15 days">Card</option>
                                                            <option value="30 days">Bank Direct Debit</option>
                                                            <option value="30 days">Wallet</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label for="productName">Repayment Model</label>
                                                            <select id="productName" class="form-control ">
                                                                <option value="15 days">Reducing Balance</option>
                                                                <option value="30 days">Straight Line</option>
                                                            </select>
                                                        </div>
                                                    </div>
            
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <button type="submit" class="btn btn-success col-md-12">Save for later</button>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <button type="submit" class="btn btn-primary col-md-12">Save</button>
                                                        </div>
                                                    
                                                    </div>
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </ng-template>
                    </ngb-tab>

                </ngb-tabset> 

    </div>
</div> -->
