<a routerLink="/app/business/transactions" class="return">&larr; Back to Transactions</a>

<div class="row" *ngIf="trans_details">

    <div class="col-md-12 col-12 mb-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-12 col-mb-12">
                    <div class="user-data">
                        <h3>{{trans_details?.reference | uppercase}}</h3>
                        <p *ngIf="trans_details?.status === 'success'"> <span class="badge badge-success">{{!trans_details?.status ? 'N/A' : trans_details?.status}}</span> {{trans_details?.transaction_date | date}}</p>
                        <p *ngIf="trans_details?.status === 'pending'"> <span class="badge badge-warning">{{!trans_details?.status ? 'N/A' : trans_details?.status}}</span>{{trans_details?.transaction_date | date}}</p>
                        <p *ngIf="trans_details?.status === 'failed'"> <span class="badge badge-danger">{{!trans_details?.status ? 'N/A' : trans_details?.status}}</span>{{trans_details?.transaction_date | date}}</p>
                    </div>
                </div>
            </div>
    
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Amount Charged
                    </small>
                    <h6>{{!trans_details?.amount_charged ? 'N/A' : trans_details?.amount_charged}}</h6>
                  </div>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Customer name
                    </small>
                    <h6>{{!trans_details?.user.first_name ? 'N/A' : trans_details?.user.first_name | titlecase}} {{!trans_details?.user.last_name ? 'N/A' : trans_details?.user.last_name | titlecase}}</h6>
                  </div>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Mobile no
                    </small>
                    <h6>{{!trans_details?.user.phone_number ? 'N/A' : trans_details?.user.phone_number}}</h6>
                  </div>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Transaction name
                    </small>
                    <h6>{{!trans_details?.transaction_entry.name ? 'N/A' : trans_details?.transaction_entry.name}}</h6>
                  </div>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 text-left">
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <small class="text-muted">
                            Transaction Type
                        </small>
                        <h6>{{!trans_details?.transaction_type.name ? 'N/A' : trans_details?.transaction_type.name}}</h6>
                      </div>
                <!-- </div> -->
            </div>
            
            <div class="col-md-3 text-left">
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <small class="text-muted">
                            Email Address
                        </small>
                        <h6>{{!trans_details?.user.email ? 'N/A' : trans_details?.user.email}}</h6>
                      </div>
                <!-- </div> -->
            </div>

            <!-- <div class="col-md-3 text-left"> -->
                <!-- <div class="row"> -->
                    <!-- <div class="col-md-12">
                        <small class="text-muted">
                            Item 7
                        </small>
                        <h6>Final Info</h6>
                      </div> -->
                <!-- </div> -->
            <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="!trans_details">
        <div class="card-body">
          <h3 class="text-center text-muted">Loading...</h3>
        </div>
      </div>
    </div>
  </div>