<a routerLink="/app/business/transactions" class="return">&larr; Back to Transactions</a>

<div class="row">

    <div class="col-md-12 col-12 mb-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-12 col-mb-12">
                    <div class="user-data">
                        <h3>LSQ38389290</h3>
                        <p class="text-muted"><span class="status"><small class="badge badge-warning">pending</small></span> 14 September 2019</p>
                    </div>
                </div>
            </div>
    
            <div class="row">
              <div class="col-md-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Item 1
                    </small>
                    <h6>One Info</h6>
                  </div>
              </div>
              <div class="col-md-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Item 2
                    </small>
                    <h6>Another Info</h6>
                  </div>
              </div>
              <div class="col-md-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Item 3
                    </small>
                    <h6>One more Info</h6>
                  </div>
              </div>
              <div class="col-md-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Item 4
                    </small>
                    <h6>Last Info</h6>
                  </div>
              </div>
              <div class="col-md-3 text-left">
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <small class="text-muted">
                            Item 5
                        </small>
                        <h6>Not an Info</h6>
                      </div>
                <!-- </div> -->
            </div>
            
            <div class="col-md-3 text-left">
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <small class="text-muted">
                            Item 6
                        </small>
                        <h6>Maybe Info</h6>
                      </div>
                <!-- </div> -->
            </div>

            <div class="col-md-3 text-left">
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <small class="text-muted">
                            Item 7
                        </small>
                        <h6>Final Info</h6>
                      </div>
                <!-- </div> -->
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>