<a routerLink="/app/business/savings" class="return">&larr; Back</a>

<!-- <div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body-menu">
              <ul class="menu-list-3">
                  <li><a routerLink="/app/business/savings/LSQ1293943/saver-details/" routerLinkActive="active-link">Saver's Details</a></li>
                  <li><a routerLink="/app/business/savings/LSQ1293943/savings-details" routerLinkActive="active-link">Savings Details</a></li>
              </ul>  

            </div>
        </div>
    </div>
</div> -->






<div class="row">
   
    <div class="col-md-12 col-12 mb-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-md-9 col-12 col-mb-12">
                    <div class="user-data">
                        <h3>Student Savings</h3>
                        <h6>LSQ38389290</h6>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-mb-12">
                    <div class="user-data">
                        <h6>Plan Balance</h6>
                        <h4>₦1,205,675.00</h4>
                    </div>
                </div>
            </div>
    
            <div class="row">
              <div class="col-md-2 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Savings Frequency
                    </small>
                    <h6>Daily</h6>
                  </div>
              </div>
              <div class="col-md-2 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Periodic Amount
                    </small>
                    <h6>₦45,000</h6>
                  </div>
              </div>
              <div class="col-md-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Start Date
                    </small>
                    <h6>Apr, 10 2020.</h6>
                  </div>
              </div>
              <div class="col-md-2 text-left">
                  <div class="col-md-12 red">
                    <small class="text-muted">
                        Withdraw By
                    </small>
                    <h6>Sep 23 2020.</h6>
                  </div>
              </div>
              <div class="col-md-2 text-left">
                  <div class="col-md-12 green">
                    <small class="text-muted">
                        Status
                    </small>
                    <h6>Active</h6>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-md-3 col-3 mb-3">
        <h6>Chihurumanya's Saving History</h6>
    </div>
    <div class="col-md-9 col-9 mb-9">
        <hr>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Transaction ID</th>
          <th scope="col">Transaction</th>
          <th scope="col">type</th>
          <th scope="col">date</th>
          <th scope="col">Amount (NGN)</th>
        </tr>
      </thead>
      <tbody class="text-muted">
        <tr *ngFor="let country of [1,2,3,4,5]">
          <td> <span class="badge badge-verified">Successful</span></td>
          <td>LSQ1234876</td>
          <td>Onetime Top-Up</td>
          <td>Card</td>
          <td>14 Sep 2019, 07:45:21</td>
          <td>₦20,000</td>
        </tr>
      </tbody>
    </table>
  </div>