<a routerLink="/app/business/loan-product" class="return">&larr; Back</a>

<app-headers title="Loan Products"></app-headers>


<!-- <div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body-menu">
              <ul class="menu-list-3">
                  <li><a (click)="checkDetails()" routerLink="/app/business/general/" routerLinkActive="active-link">General</a></li>
                  <li><a (click)="checkBorrowers()" routerLink="/app/business/save" routerLinkActive="active-link">Savings Plans</a></li>
              </ul>  
            </div>
        </div>
    </div>
</div> -->


<div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <!-- <div class="card"> -->
            <!-- <div class="card-body-menu"> -->
              <ngb-tabset type="pills" justify="justified">
                <br>
                <ngb-tab title="Details">
                  <ng-template ngbTabContent>
                    <!-- <div class="container-fluid"> -->
<br>
                
                        
                        <div class="card">
                          <div class="card-body">
                            <!-- <div class="row"> -->
                              <div class="col-md-12 col-12 col-mb-12">
                                  <div class="user-data">
                                      <h3>Loan Product 001</h3>
                                      <small class="text-muted">LSQ38389290</small>
                                  </div>
                              </div>
                          <!-- </div> -->
                  
                          </div>
                        </div>
<br>
                        <div class="card">
                          <div class="card-body">

                            <!-- <div class="col-md-12 col-12 mb-12"> -->
                          
                              <div class="row">
                                <div class="col-md-6 text-left">
                                    <div class="col-md-12">
                                      <small class="text-muted">
                                          Amount
       
       
                                      </small>
                                      <h5>5,000.00 - 25,000.00</h5>
                                    </div>
                                </div>
                                <div class="col-md-6 text-left">
                                    <div class="col-md-12 green">
                                      <small class="text-muted">
                                          Status
                                      </small>
                                      <h5>Active</h5>
                                    </div>
                                </div>
                                <div class="col-md-6 text-left">
                                    <div class="col-md-12">
                                      <small class="text-muted">
                                          Tenor
                                      </small>
                                      <h5>15 Days</h5>
                                    </div>
                                </div>
                                <div class="col-md-6 text-left">
                                    <div class="col-md-12 red">
                                      <small class="text-muted">
                                          Repayment Method
                                      </small>
                                      <h5>Card & Wallet</h5>
                                    </div>
                                </div>
                  
                                <div class="col-md-6 text-left">
                                  <div class="col-md-12">
                                    <small class="text-muted">
                                        Interest
                                    </small>
                                    <h5>25%</h5>
                                  </div>
                              </div>
                              </div>
                        <!-- </div> -->

                          </div>
                        </div>


              <!-- </div> -->
                  </ng-template>
                </ngb-tab>


                <ngb-tab title="Borrowers">
                  <ng-template ngbTabContent>
                    <br>
                    <div class="col-md-12"></div>
                    <div class="container-fluid">
                      <div class="table-responsive">

                        <div class="row justify-content-between align-items-center">
                          <div class="col">
                            <!-- <h5 class="m-0 p-0 text-dark-blue">Team members</h5> -->
                          </div>
                
                          <div class="col-md-5 col-12 mb-12">
                            <span class="has-search">
                                <mat-icon class="icon ml-1 search-icon">search</mat-icon>
                              <input type="text" name="search" placeholder="Search by Name, amount, e.t.c" class="search form-control" />
                            </span>
                          </div>
                        </div>
                        
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Number Of Loans Applied For</th>
                                <th scope="col">Total Loan Product Amount</th>
                              </tr>
                            </thead>
                            <tbody class="text-muted">
                              <tr *ngFor="let country of [1,2,3]">
                                <td>Olabode Samuel</td>
                                <td>3</td>
                                <td>₦120,510</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>





              <!-- <mat-tab-group>
                    <mat-tab label="Details">
                        <div class="container-fluid">
                                <div class="col-md-12 col-12 mb-12">
                                        <div class="row">
                                            <div class="col-md-12 col-12 col-mb-12">
                                                <div class="user-data">
                                                    <h3>Loan Product 001</h3>
                                                    <small class="text-muted">LSQ38389290</small>
                                                </div>
                                            </div>
                                        </div>
                                
                                        <div class="row">
                                          <div class="col-md-6 text-left">
                                              <div class="col-md-12">
                                                <small class="text-muted">
                                                    Amount
                 
                 
                                                </small>
                                                <h6>5,000.00 - 25,000.00</h6>
                                              </div>
                                          </div>
                                          <div class="col-md-6 text-left">
                                              <div class="col-md-12 green">
                                                <small class="text-muted">
                                                    Status
                                                </small>
                                                <h6>Active</h6>
                                              </div>
                                          </div>
                                          <div class="col-md-6 text-left">
                                              <div class="col-md-12">
                                                <small class="text-muted">
                                                    Tenor
                                                </small>
                                                <h6>15 Days</h6>
                                              </div>
                                          </div>
                                          <div class="col-md-6 text-left">
                                              <div class="col-md-12 red">
                                                <small class="text-muted">
                                                    Repayment Method
                                                </small>
                                                <h6>Card & Wallet</h6>
                                              </div>
                                          </div>
                            
                                          <div class="col-md-6 text-left">
                                            <div class="col-md-12">
                                              <small class="text-muted">
                                                  Interest
                                              </small>
                                              <h6>25%</h6>
                                            </div>
                                        </div>
                                        </div>
                                  </div>
                        </div>
                    </mat-tab>
                  <mat-tab label="Borrowers">
                      <div class="container-fluid">
                        <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">Number Of Loans Applied For</th>
                                  <th scope="col">Total Loan Product Amount</th>
                                </tr>
                              </thead>
                              <tbody class="text-muted">
                                <tr *ngFor="let country of [1,2,3]">
                                  <td>Olabode Samuel</td>
                                  <td>3</td>
                                  <td>₦120,510</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                  </mat-tab>
              </mat-tab-group> -->







            <!-- </div> -->
        <!-- </div> -->
    </div>
  </div>



 


<!-- <div class="row">

    <div class="col-md-12 col-12 mb-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-12 col-mb-12">
                    <div class="user-data">
                        <h3>Loan Product 001</h3>
                        <small class="text-muted">LSQ38389290</small>
                    </div>
                </div>
            </div>
    
            <div class="row">
              <div class="col-md-6 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Amount
                    </small>
                    <h6>5,000.00 - 25,000.00</h6>
                  </div>
              </div>
              <div class="col-md-6 text-left">
                  <div class="col-md-12 green">
                    <small class="text-muted">
                        Status
                    </small>
                    <h6>Active</h6>
                  </div>
              </div>
              <div class="col-md-6 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Tenor
                    </small>
                    <h6>15 Days</h6>
                  </div>
              </div>
              <div class="col-md-6 text-left">
                  <div class="col-md-12 red">
                    <small class="text-muted">
                        Repayment Method
                    </small>
                    <h6>Card & Wallet</h6>
                  </div>
              </div>

              <div class="col-md-6 text-left">
                <div class="col-md-12 red">
                  <small class="text-muted">
                      Interest
                  </small>
                  <h6>25%</h6>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div> -->