<a routerLink="/app/business/loan-product" class="return">&larr; Back</a>

<app-headers title="Loan Products"></app-headers>


<div *ngIf="details">

  <div class="row">
    <div class="col-md-12 col-12 col-mb-12">
              <ngb-tabset type="pills" justify="justified">
                <br>
                <ngb-tab title="Details">
                  <ng-template ngbTabContent>
<br>
                
                        
                        <div class="card">
                          <div class="card-body">
                              <div class="col-md-12 col-12 col-mb-12">
                                  <div class="user-data">
                                      <h3>{{!details?.name ? 'N/A' : details?.name}}</h3>
                                      <small class="text-muted">{{!details?.id ? 'N/A' : details?.id}}</small>
                                  </div>
                              </div>
                  
                          </div>
                        </div>
<br>
                        <div class="card">
                          <div class="card-body">

                          
                              <div class="row">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 text-left">
                                    <div class="col-md-12">
                                      <small class="text-muted">
                                          Amount
                                      </small>
                                      <h5>{{!details?.min_amount ? 'N/A' : details?.min_amount}} - {{!details?.max_amount ? 'N/A' : details?.max_amount}}</h5>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 text-left">
                                    <div class="col-md-12">
                                      <small class="text-muted">
                                          Status
                                      </small>
                                      <h5 *ngIf="details?.status === 1" class="green">Active</h5>
                                      <h5 *ngIf="details?.status === 0" class="red">Inactive</h5>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 text-left">
                                    <div class="col-md-12">
                                      <small class="text-muted">
                                          Tenor
                                      </small>
                                      <h5>
                                      <div *ngFor="let item of details?.tenor_types" style="display: inline;">
                                        {{!item.value ? 'N/A' : item.value}} days,
                                      </div>
                                    </h5>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 text-left">
                                    <div class="col-md-12 red">
                                      <small class="text-muted">
                                          Repayment Method
                                      </small>
                                      <h5>{{!details?.repayment_method.name ? 'N/A' : details?.repayment_method.name}}</h5>
                                    </div>
                                </div>
                  
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 text-left">
                                  <div class="col-md-12">
                                    <small class="text-muted">
                                        Interest
                                    </small>
                                    <h5>{{!details?.interest_rate ? 'N/A' : details?.interest_rate}}%</h5>
                                  </div>
                              </div>
                              </div>

                          </div>
                        </div>


                  </ng-template>
                </ngb-tab>


                <ngb-tab title="Borrowers">
                  <ng-template ngbTabContent>
                    <br>
                    <div class="col-md-12"></div>
                    <div class="container-fluid">
                      <div class="table-responsive">

                        <div class="row justify-content-between align-items-center">
                          <div class="col">
                            <!-- <h5 class="m-0 p-0 text-dark-blue">Team members</h5> -->
                          </div>
                
                          <div class="col-md-5 col-12 mb-12">
                            <form>
                              <span class="has-search">
                                <mat-icon class="icon ml-1 search-icon">search</mat-icon>
                              <input type="text" id="search" [(ngModel)]="term" name="search" placeholder="Search by name" class="search form-control" />
                            </span>
                          </form>
                        </div>


                        </div>
                        
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Number Of Loans Applied For</th>
                                <th scope="col">Total Loan Product Amount</th>
                              </tr>
                            </thead>
                            <tbody class="text-muted">
                              <tr *ngFor="let each of dataSet | fullName: term | paginate: {itemsPerPage: 10, currentPage: p}">
                                <td><a routerLink="/app/customers/users/{{each.user_id}}">{{!each.full_name ? 'N/A' : each.full_name | uppercase}}</a></td>
                                <td>{{!each.loan_count ? 'N/A' : each.loan_count}}</td>
                                <td>₦ {{!each.total ? 'N/A' : each.total}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="row">
                            <div class="col-md-12 text-center">
                              <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                          </div>
                        </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>


    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-12">
    <div class="card" *ngIf="!details">
      <div class="card-body">
        <h3 class="text-center text-muted">Fetching details...</h3>
      </div>
    </div>
  </div>
</div>