<app-headers title="Audit Log"></app-headers>



<div class="row" *ngIf="logs">
  <div class="col-md-12">
    <div class="table-responsive">

      <!-- <div class="col-12"> -->
        <div class="row justify-content-between align-items-center">
          <div class="col">
            <h5 class="m-0 p-0 text-dark-blue">Audits</h5>
          </div>

          <div class="col-md-5 col-12 mb-12">
            <form>
              <span class="has-search">
                <mat-icon class="icon ml-1 search-icon">search</mat-icon>
              <input type="text" id="search" [(ngModel)]="term" name="search" placeholder="Search by name" class="search form-control" />
            </span>
          </form>
        </div>

        </div>
      <!-- </div> -->

      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Activity</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody class="text-muted">
          <tr *ngFor="let log of logs.logs | innerLastName : term">
            <td><a routerLink="{{log.id}}">{{!log.user.first_name ? 'N/A' : log.user.first_name | uppercase}} {{!log.user.last_name ? 'N/A' : log.user.last_name | uppercase}}</a></td>
            <td>{{!log.description ? 'N/A' : log.description | titlecase}}</td>
            <th scope="row">{{log.created_on | date : 'mediumDate'}}</th>
            <th> {{log.created_on | date : 'shortTime'}}</th>
          </tr>
        </tbody>
      </table>

      <div class="row my-3 justify-content-end">
        <div class="col-auto">
          <div *ngIf="pager?.pages && pager?.pages.length" class="pagination">
            <div *ngIf="currentPage !== 0">
              <a (click)="setNewPage(0)" class="page-link" [ngClass]="{'disabled' : pager?.currentPage === 0}">&laquo;</a>
            </div>
            <a *ngIf="currentPage !== 0" (click)="setNewPage(pager?.currentPage - 1)" class="page-link" [ngClass]="{'disabled' : pager?.currentPage === 0}">
              &lsaquo;
            </a>
            <ng-container *ngFor="let page of pager.pages" class="page-item">
              <a (click)="setNewPage(page + 1)" class="page-link" [ngClass]="{'active' : pager?.currentPage === page + 1}">{{page + 1}}</a>
            </ng-container>
            <a (click)="setNewPage(pager?.currentPage + 1)" class="page-link" [ngClass]="{'disabled' : pager?.currentPage === pager?.totalPages}">
              &rsaquo;
            </a>
            <a (click)="setNewPage(pager?.totalPages)" class="page-link" [ngClass]="{'disabled' : pager?.currentPage === pager?.totalPages}">&raquo;</a>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-12 text-center">
        <nav aria-label="Page navigation example">
        <ul *ngIf="pages" class="pagination" style="overflow-x: scroll;">
          <li [ngClass]="{disabled:currentPage === 0}" class="page-item">
            <a [routerLink]="['./']" [queryParams]="{ page: 0 }" class="page-link">First</a>
          </li>
          <li [ngClass]="{disabled:currentPage === 0}" class="page-item previous-item">
            <a [routerLink]="['./']" [queryParams]="{ page:currentPage - 1 }" class="page-link">Previous</a>
          </li>
          <li *ngFor="let eachPage of p" [ngClass]="{active:currentPage === eachPage}" class="page-item">
            <a [queryParams]="{ page: eachPage }" class="page-link" [routerLink]="['./']" >{{eachPage}}</a>
            </li>
            <li [ngClass]="{disabled:currentPage === totalPages}" class="page-item">
              <a [routerLink]="['./']" [queryParams]="{ page:currentPage + 1 }" class="page-link">Next</a>
            </li>
            <li [ngClass]="{disabled:currentPage === totalPages}" class="page-item">
              <a [routerLink]="['./']" [queryParams]="{ page:totalPages}" class="page-link">Last</a>
            </li>
        </ul>
        </nav>
      </div> -->

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card" *ngIf="!logs">
      <div class="card-body">
        <h3 class="text-center text-muted">Loading...</h3>
      </div>
    </div>
  </div>
</div>