<app-headers title="Audit Log"></app-headers>

<div class="row">
  <div class="col-12">
    <!-- <div class="card"> -->
      <div class="table-repsonsive">
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <th>Activity</th>
              <th>Role</th>
              <th>Date</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody class="text-muted">
            <tr *ngFor="let country of [1,2,3,4,5,6,6,7,8,9,10]">
              <td>Afenifere Olabode</td>
              <td><a routerLink="LSQ1293943">Afenifere credited wallet</a></td>
              <td>Borrower</td>
              <th scope="row">12, Oct 2019</th>
              <th> 12:00pm</th>
            </tr>
          </tbody>
        </table>
      </div>
    <!-- </div> -->
  </div>
</div>