<app-headers title="Lenders" crumbs="Afenifere Olabode"></app-headers>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body bg-dark text-white rounded">
        <div class="row align-items-center my-3">
          <div class="col-auto">
            <div class="pic big round">
              <img src="../../../../assets/img/placeholder-user.png" class="round img-fluid" alt="">
            </div>
          </div>
          <div class="col">
            <h5>Henry Okonkwo</h5>
            <div>LSQ66062923</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row align-items-center mt-md-5 mt-0">
  <div class="col-12">
    <mat-tab-group>
      <!-- <mat-tab label="General">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row  p-md-5 p-3">
                  <div class="col-12 text-dark mb-5">
                    <div class="row">
                      <div class="col-md-8 col-12">
                        <h6>
                          This section contains important details about the lender, in the
                          form of list items. The same details they filled when they joined
                          the
                          platform as well as other important data need for admin users
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-6 mb-4" *ngFor="let item of [1,2,3,4,5,6,7,8]">
                    <h6>Item {{item}}</h6>
                    <h3 class="text-dark font-weight-bold">One Info</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab> -->
      <mat-tab label="Loans">
        <div class="container-fluid">
          <div class="row my-5">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row justify-content-between align-items-center">
                    <div class="col">
                      <h5 class="m-0 p-0 text-dark-blue">All Loans</h5>
                    </div>

                    <div class="col-3">
                      <span class="has-search">
                        <mat-icon class="icon ml-2">search</mat-icon>
                        <input type="text" name="search" class="search form-control" />
                      </span>
                    </div>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Status</th>
                        <th scope="col">ID</th>
                        <th scope="col">Lender</th>
                        <th scope="col">Loan Product</th>
                        <th scope="col">Last payment date</th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody class="text-muted">
                      <tr *ngFor="let country of [1,2,3,4]">
                        <td>
                          <span class="badge badge-verified">Successful</span>
                        </td>
                        <td>LSQ0300049909</td>
                        <td>Larry Doe</td>
                        <td>Student Loan</td>
                        <td>2 Oct 2019</td>
                        <td> 100,500.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Wallet">
        <div class="container-fluid">
          <div class="row mt-5">
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body py-5">
                  <img src="../../../../assets/img/green.svg" class="mb-3 mr-3 float-left">
                  <h4 class="font-weight-bold text-dark-blue">₦50,000,000</h4>
                  <small class="text-dark-blue opacity-60">Total transactions</small>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body py-5">
                  <img src="../../../../assets/img/green.svg" class="mb-3 mr-3 float-left">
                  <h4 class="font-weight-bold text-dark-blue">₦50,000,000</h4>
                  <small class="text-dark-blue opacity-60">Total transactions</small>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body py-5">
                  <img src="../../../../assets/img/green.svg" class="mb-3 mr-3 float-left">
                  <h4 class="font-weight-bold text-dark-blue">₦50,000,000</h4>
                  <small class="text-dark-blue opacity-60">Total transactions</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row justify-content-between align-items-center">
                    <div class="col">
                      <h5 class="m-0 p-0 text-dark-blue">Payment History</h5>
                    </div>

                    <div class="col-3">
                      <span class="has-search">
                        <mat-icon class="icon ml-2">search</mat-icon>
                        <input type="text" name="search" class="search form-control" />
                      </span>
                    </div>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Loan Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                          </tr>
                        </thead>
                        <tbody class="text-muted">
                          <tr *ngFor="let country of [1,2,3,4]">
                            <th scope="row">LSQ0300049909</th>
                            <td>Jane Cole</td>
                            <td>Loan offer</td>
                            <td>2 Oct 2019</td>
                            <td class="font-weight-bold">1,020,000.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="Bank Details">
        <div class="container-fluid">
          <div class="row row-eq-height my-5">
            <div class="col-md-5 mb-4">
              <div class="card h-100 card-top-blue">
                <div class="card-body h-100">
                  <div class="row">
                    <div class="col-12 text-dark">
                      <div class="row">
                        <div class="col-12 mb-4">
                          <div class="row">
                            <div class="col">
                              <div class="text-muted">Bank</div>
                              <div class="text-uppercase">GTBank</div>
                            </div>
                            <div class="col-auto">
                              <img src="../../../../assets/img/gt.svg" class="img-fluid" alt="">
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row mt-5">
                            <div class="col mb-4">
                              <div class="text-muted">Account Number</div>
                              <div class="text-uppercase">0115946917</div>
                            </div>
                            <div class="col-auto mb-4 text-right">
                              <div class="text-muted">BVN</div>
                              <div class="text-uppercase">22213136660</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-12 text-right text-success">
                      <b>ACTIVE</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5 mb-4 mono">
              <div class="card h-100 card-gradient text-white">
                <div class="card-body h-100">
                  <div class="row">
                    <div class="col-12 my-5">
                      <h3>**** **** **** 3452</h3>
                    </div>

                  </div>
                  <div class="row align-items-end">
                    <div class="col mt-4">
                      <small>EXPIRES 12/20</small>
                      <div class="mb-2">John Henry</div>
                    </div>
                    <div class="col-auto text-right">
                      <img src="../../../../assets/img/master.svg"><br />
                      mastercard
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>
</div>