<!-- <app-headers title="Savers"></app-headers> -->

<a routerLink="/app/customers/savers" class="return">&larr; Back to Savers</a>

<div class="row"></div>

<ngb-tabset type="pills" justify="justified">
  <ngb-tab title="General">
    <ng-template ngbTabContent>

      <div *ngIf="saver">

        <div class="row">
          <div class="col-md-12 col-12 col-mb-12">
              <div class="card">
                  <div class="card-body">
                          <div class="col-md-12 col-12 col-mb-12">
                            <div class="user-data">
                              <h3>{{!saver?.last_name ? 'N/A' : saver?.last_name | titlecase}} {{!saver?.first_name ? 'N/A' : saver?.first_name | titlecase}}</h3>
                              <small>{{id}}</small>
                          </div>
                          </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <div class="col-md-12 col-12 mb-12">
                  This section contains important details about the saver.
                  <hr>
              </div>
              <div class="col-md-12 col-12 mb-12">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="row">
                      <div class="col-md-14">
                          <small class="text-muted">
                              Full name
                          </small>
                          <h6><strong>{{!saver?.last_name ? 'N/A' : saver?.last_name | titlecase}} {{!saver?.first_name ? 'N/A' : saver?.first_name | titlecase}}</strong></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="row">
                      <div class="col-md-12 red">
                          <small class="text-muted">
                              Mobile Number
                          </small>
                          <h6><strong>{{!saver?.phone_number ? 'N/A' : saver?.phone_number}}</strong></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="row">
                      <div class="col-md-12 red">
                          <small class="text-muted">
                              BVN
                          </small>
                          <h6><strong>{{!saver?.bvn ? 'N/A' : saver?.bvn}}</strong></h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                  <div class="row">
                    <div class="col-md-12">
                      <small class="text-muted">
                          Email Address
                      </small>
                      <h6><strong>{{!saver?.email ? 'N/A' : saver?.email}}</strong></h6>
                    </div>
                  </div>
                </div>
              <!-- </div> -->
            </div>
            </div>
        </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <span class="pic medium square ml-12 profile-img" style="height: 15.6rem;">
                <img src="{{saver?.photo_url}}" alt="" class="img-fluid">
              </span>  
              </div>    
            </div>
        </div>
  </div> 


      </div>
   

<div class="row">
  <div class="col-md-12">
    <div class="card" *ngIf="!saver">
      <div class="card-body">
        <h3 class="text-center text-muted">Please wait...</h3>
      </div>
    </div>
  </div>
</div>

    </ng-template>
  </ngb-tab>


  <ngb-tab title="Savings">
    <ng-template ngbTabContent>

      <div class="row">
        <div class="col-md-12 col-12 col-mb-12">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-8 col-12 col-mb-12">
                      <span class="pic small round ml-12">
                          <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                      </span>
                      <div class="user-data">
                        <h3>{{!saver?.last_name ? 'N/A' : saver?.last_name | uppercase}} {{!saver?.first_name ? 'N/A' : saver?.first_name | uppercase}}</h3>
                        <small>{{!id ? 'N/A' : id}}</small>
                    </div>
                  </div>
    
                  <div class="col-md-4 col-12 col-mb-12 text-right">
                    <div class="user-data">
                      <p>Total Savings</p>
                        <h3>{{!totalSavings ? 'N/A' : totalSavings}}</h3>
                    </div>
                </div>
                  </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

  </div>


  <div class="row">
    <div class="col-md-12">
      <mat-divider></mat-divider>
      <div class="table-responsive">

              <!-- <div class="col-12"> -->
                <div class="row justify-content-between align-items-center">
                  <div class="col">
                    <h6 class="m-0 p-0 text-dark-blue">Savings Plans</h6>
                  </div>
        
                  <div class="col-md-5 col-12 mb-12">
                    <span class="has-search">
                        <mat-icon class="icon ml-1 search-icon">search</mat-icon>
                      <input type="text" name="search" placeholder="Search by ID, date, type, e.t.c" class="search form-control" />
                    </span>
                  </div>
                </div>
              <!-- </div> -->

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">ID</th>
              <th scope="col">Savings Plans</th>
              <th scope="col">Savings Product</th>
              <th scope="col">Next savings date</th>
              <th scope="col">balance</th>
            </tr>
          </thead>
          <tbody class="text-muted">
            <tr *ngFor="let eachSavings of userSavings">
              <td *ngIf="eachSavings.status === 0 && eachSavings.is_matured === 0"> <span class="badge badge-danger">Inactive</span></td>
              <td *ngIf="eachSavings.status === 1 && eachSavings.is_matured === 0"> <span class="badge badge-warning">Active</span></td>
              <td *ngIf=" eachSavings.is_matured === 1"> <span class="badge badge-success">Matured</span></td>
              <td><a routerLink="{{eachSavings.id}}">{{!eachSavings.id ? 'N/A' : eachSavings.id}}</a></td>
              <td><a routerLink="{{eachSavings.id}}">{{!eachSavings.name ? 'N/A' : eachSavings.name}}</a></td>
              <td>{{!eachSavings.product_id ? 'N/A' : eachSavings.product_id}}</td>
              <td>{{!eachSavings.next_saving_date ? 'N/A' : eachSavings.next_saving_date | date}}</td>
              <td>₦ {{!eachSavings.balance ? 'N/A' : eachSavings.balance}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

    </ng-template>
  </ngb-tab>


  <ngb-tab title="Bank Details">
    <ng-template ngbTabContent>

      <div class="container-fluid">
        <div class="row row-eq-height my-5" style="padding-left: 0; padding-right: 0;">
          <div class="col-md-12 col-lg-5 col-xl-5 mb-4">
            <div style="position: relative; top: 0; left: -1rem;">
              <h4>Bank</h4>
            </div>
            
            <div class="col-md-12" *ngFor="let each of banks">
              <div class="card " style="position: relative; top: 0; left: -1rem; margin-bottom: 1rem;">
                <div class="card-body" style="padding-left: 0;
                padding-right: 0;
                padding-top: 1rem;
                padding-bottom: 1rem;">
                  <!-- <div class="row"> -->
                    <div class="col-12 text-dark">
                      <!-- <div class="row"> -->
                        <div class="col-12 mb-4" style="padding-left: 0; padding-right: 0;">
                          <div class="row">
                            <div class="col">
                              <div class="text-muted">Bank</div>
                              <div class="text-uppercase">{{!each.bank_code ? 'N/A' : each.bank_code}}</div>
                            </div>
                            <div class="col-auto">
                              <img src="../../../../assets/img/gt.svg" class="img-fluid" alt="">
                            </div>
                          </div>
                        </div>
                        <div class="col-12" style="padding-left: 0; padding-right: 0;">
                          <div class="row mt-1">
                            <div class="col mb-4">
                              <div class="text-muted">Account Number</div>
                              <div class="text-uppercase">{{!each.account_number ? 'N/A' : each.account_number}}</div>
                            </div>
                            <div class="col-auto mb-4 text-right">
                              <div class="text-muted">BVN</div>
                              <div class="text-uppercase">{{!borrower?.bvn ? 'N/A' : borrower?.bvn}}</div>
                            </div>
                          </div>
                        </div>
                      <!-- </div> -->
                    </div>
                  <!-- </div> -->
                </div>
                <div class="card-footer">
                  <!-- <div class="row"> -->
                    <div class="col-12 text-right">
                      <p class=" badge badge-success">ACTIVE</p>
                    </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-2 mb-4 mono"></div>
  
          <div class="col-md-12 col-lg-5 col-xl-5 mb-4">
            <div style="position: relative; top: 0; right: -1rem;">
              <h4>Card</h4>
            </div>
            
            <div class="col-md-12" *ngFor="let each of cards">
  
              <div class="card  card-gradient text-white" style="position: relative; top: 0; right: -1rem; margin-bottom: 1rem;">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-12 my-2">
                      <h3>**** **** **** {{each.card_last4}}</h3>
                    </div>
    
                  </div>
                  <div class="row align-items-end">
                    <div class="col mt-5">
                      <small>EXPIRES {{!each.card_exp_month ? 'N/A' : each.card_exp_month}}/{{!each.card_exp_year ? 'N/A' : each.card_exp_year}}</small>
                      <div class="mb-3">{{!each.card_owner_name ? N/A : each.card_owner_name}}</div>
                    </div>
                    <div class="col-auto text-right">
                      <img src="../../../../assets/img/master.svg"><br />
                      mastercard
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
  
          </div>
        </div>
      </div>

    </ng-template>
  </ngb-tab>


</ngb-tabset>




<!-- <div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body">
                    <div class="col-md-12 col-12 col-mb-12">

                        <span class="pic small round ml-12">
                            <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                        </span>

                        <div class="user-data">
                            <h3>Chihurumanya Okwechime</h3>
                            <small>LSQ38389290</small>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">

            <div class="card-body-menu">
              <ul class="menu-list">
                  <li><a routerLink="/app/customers/savers/LSQ1234876/general/" routerLinkActive="active-link">General</a></li>
                  <li><a routerLink="/app/customers/savers/LSQ1234876/savings" routerLinkActive="active-link">Savings Plans</a></li>
                  <li><a routerLink="/app/customers/savers/LSQ1234876/bank-details" routerLinkActive="active-link">Bank Details</a></li>
              </ul>  

            </div>
        </div>
    </div>
</div> -->


<!-- 
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 col-12 mb-12">
            This section contains important details about the saver.
            <hr>
        </div>
        <div class="col-md-12 col-12 mb-12">
        <div class="row">
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                    <small class="text-muted">
                        Full name
                    </small>
                    <h6><strong>Saidi Balogun</strong></h6>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 red">
                    <small class="text-muted">
                        Mobile Number
                    </small>
                    <h6><strong>09089544444</strong></h6>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 red">
                    <small class="text-muted">
                        BVN
                    </small>
                    <h6><strong>9829379234</strong></h6>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <small class="text-muted">
                    Email Address
                </small>
                <h6><strong>xyz@domain.com</strong></h6>
              </div>
            </div>
          </div>
      </div>
      </div>
  </div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <span class="pic medium square ml-12 profile-img" style="height: 15.6rem;">
          <img src="../../../../assets/img/nav/image.svg" alt="" class="img-fluid">
        </span>  
        </div>    
      </div>
  </div> -->
