<!-- <app-headers title="Savers"></app-headers> -->
<a routerLink="/" class="return">&larr; Back to Savers</a>

<div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body">
                    <div class="col-md-12 col-12 col-mb-12">
                        <div class="user-data">
                            <h3>Chihurumanya Okwechime</h3>
                            <small>LSQ38389290</small>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body-menu">
              <ul class="menu-list">
                  <li><a routerLink="/app/customers/savers/LSQ1234876/general/" routerLinkActive="active-link">General</a></li>
                  <li><a routerLink="/app/customers/savers/LSQ1234876/savings" routerLinkActive="active-link">Savings Plans</a></li>
                  <!-- <li><a routerLink="general">Wallet</a></li> -->
                  <li><a routerLink="/app/customers/savers/LSQ1234876/bank-details" routerLinkActive="active-link">Bank Details</a></li>
              </ul>  

            </div>
        </div>
    </div>
</div>


<div class="row">
   
        <div class="card">
          <div class="card-body">
            <div class="col-md-12 col-12 mb-12">
                This section contains important details about the Borrower, in the form of list items. The same details provided by the lender when they joined the platform as well as other important data needed for the admin user.
                <hr>
            </div>
            <div class="col-md-12 col-12 mb-12">
            <div class="row">
              <div class="col-md-2">
                  <div class="row">
                    <div class="col-md-12">
                        <small class="text-muted">
                            <!-- <span class="red-square"></span>  -->
                            Full name
                        </small>
                        <h5><strong>Saidi Balogun</strong></h5>
                      </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="row">
                    <div class="col-md-12 red">
                        <small class="text-muted">
                          <!-- <span class="red-square"></span>  -->
                            Mobile Number
                        </small>
                        <h5><strong>09089544444</strong></h5>
                      </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="row">
                    <div class="col-md-12 red">
                        <small class="text-muted">
                          <!-- <span class="red-square"></span>  -->
                            BVN
                        </small>
                        <h5><strong>9829379234</strong></h5>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-12">
                    <small class="text-muted">
                      <!-- <span class="dark-blue-square"></span>  -->
                        Email Address
                    </small>
                    <h5><strong>xyz@domain.com</strong></h5>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col-md-12">
                    <span class="pic medium square ml-12 profile-img">
                        <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>

</div>