<app-headers title="Bank Information"></app-headers>

<div class="text-right">
    <a routerLink="/app/business/new-loan-product">
      <button class="btn btn-primary"> + Add Bank</button>
    </a>
</div>

<div class="container-fluid">
    <div class="row row-eq-height my-5">
      <div class="col-md-5 mb-4">
        <div class="card  card-top-blue">
          <div class="card-body">
            <!-- <div class="row"> -->
              <div class="col-12 text-dark">
                <!-- <div class="row"> -->
                  <div class="col-12 mb-4">
                    <div class="row">
                      <div class="col">
                        <div class="text-muted">Bank</div>
                        <div class="text-uppercase">GTBank</div>
                      </div>
                      <!-- <div class="col-auto">
                        <img src="../../../../assets/img/gt.svg" class="img-fluid" alt="">
                      </div> -->
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row mt-1">
                      <div class="col mb-4">
                        <div class="text-muted">Account Number</div>
                        <div class="text-uppercase">0115946917</div>
                      </div>
                      <div class="col-auto mb-4 text-right">
                        <div class="text-muted">BVN</div>
                        <div class="text-uppercase">22213136660</div>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
            <!-- </div> -->
          </div>
          <div class="card-footer">
            <div class="col-12">
                <div class="row mt-1">
                  <div class="col mb-4">
                    <b>Loan Savings</b>
                  </div>
                  <div class="col-auto mb-4 text-right">
                    <button type="button" class="btn btn-danger">Remove</button>
                  </div>
                </div>
              </div>
            <!-- <div class="row">
              <div class="col-6 text-left">
                <b>Loan Savings</b>
              </div>
              <div class="col-6 text-right">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Remove</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
<!-- 
      <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                  </div>
                  <div class="modal-body">
                      <p>Do you want to delete Bank?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div> -->

      <div class="col-md-2 mb-4 mono"></div>

      <div class="col-md-5 mb-4">
      <div class="card  card-top-blue">
        <div class="card-body">
          <!-- <div class="row"> -->
            <div class="col-12 text-dark">
              <!-- <div class="row"> -->
                <div class="col-12 mb-4">
                  <div class="row">
                    <div class="col">
                      <div class="text-muted">Bank</div>
                      <div class="text-uppercase">GTBank</div>
                    </div>
                    <!-- <div class="col-auto">
                      <img src="../../../../assets/img/gt.svg" class="img-fluid" alt="">
                    </div> -->
                  </div>
                </div>
                <div class="col-12">
                  <div class="row mt-1">
                    <div class="col mb-4">
                      <div class="text-muted">Account Number</div>
                      <div class="text-uppercase">0115946917</div>
                    </div>
                    <div class="col-auto mb-4 text-right">
                      <div class="text-muted">BVN</div>
                      <div class="text-uppercase">22213136660</div>
                    </div>
                  </div>
                </div>
              <!-- </div> -->
            </div>
          <!-- </div> -->
        </div>
        <div class="card-footer">
            <div class="col-12">
                <div class="row mt-1">
                  <div class="col mb-4">
                    <b>Loan Savings</b>
                  </div>
                  <div class="col-auto mb-4 text-right">
                    <button type="button" class="btn btn-danger">Remove</button>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    </div>
  </div>