<app-headers title="Dashboard"></app-headers>

<div class="row">

  <!-- <div class="col-md-1 col-1 mb-1"></div>
  <div class="col-md-9 col-12 mb-9">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
              <div class="col-md-12 text-center">
                <small class="text-muted">
                  <span class="dark-blue-square"></span> 
                    Total Loan Amount
                </small>
                <h6>₦500,000,000.00</h6>
              </div>
          </div>
          <div class="col-md-3">
              <div class="col-md-12 text-center">
                <small class="text-muted">
                  <span class="dark-blue-square"></span> 
                    Pending Loan Amount
                </small>
                <h6>₦100,000,000.00</h6>
              </div>
          </div>
          <div class="col-md-3">
              <div class="col-md-12 red text-center">
                <small class="text-muted">
                  <span class="dark-blue-square"></span> 
                    Total Failed Loan Amount
                </small>
                <h6>₦20,000,000.00</h6>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-12 text-center">
                <small class="text-muted">
                  <span class="dark-blue-square"></span> 
                    Total Loan Count
                </small>
                <h6>500</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-12 text-center">
                <small class="text-muted">
                  <span class="dark-blue-square"></span> 
                    Loans Due
                </small>
                <h6>₦100,000,000.00</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-12 red text-center">
                <small class="text-muted">
                  <span class="dark-blue-square"></span> 
                    Failed Loans
                </small>
                <h6>10</h6>
              </div>
            </div>
          </div>
        </div>


        <div class="row mb-6">
          <div class="col">
            <small class="text-muted">Overviews</small>
            <h5 class="font-weight-bold">Lenders</h5>
          </div>
          <div class="col-auto">
            <div class="row">
              <div class="col-auto text-right">
                <small class="text-muted"><span class="dark-blue-square"></span> Total</small>
                <h6>₦500,000.00</h6>
              </div>
              <div class="col-auto text-right">
                <small class="text-muted"><span class="red-square"></span> Active</small>
                <h6>₦20,000.00</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-2 mb-2"></div>
 -->

  <div class="col-md-4 col-12 col-mb-6">
    <div class="card">
      <div class="card-body">
          <div class="col-md-12 text-left">
            <h3>Loans Disbursed</h3>
          </div>

          <div class="row">
            <div class="col-md-7 text-left">
                <div class="col-md-12">
                  <small class="text-muted">
                      Amount
                  </small>
                  <h4>₦45,000,000</h4>
                </div>
            </div>
 

            <div class="col-md-5 text-left">
                <div class="col-md-12">
                  <small class="text-muted">
                      Count
                  </small>
                  <h4>504</h4>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-12 col-mb-6">
    <div class="card">
      <div class="card-body">
          <div class="col-md-12 text-left">
            <h3>Loans Due Today</h3>
          </div>

          <div class="row">
            <div class="col-md-7 text-left">
                <div class="col-md-12 green">
                  <small class="text-muted">
                      Amount
                  </small>
                  <h4>₦3,998,000</h4>
                </div>
            </div>
 

            <div class="col-md-5 text-left">
                <div class="col-md-12 green">
                  <small class="text-muted">
                      Count
                  </small>
                  <h4>54</h4>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-12 col-mb-6">
    <div class="card">
      <div class="card-body">
          <div class="col-md-12 text-left">
            <h3>Loans Defaults</h3>
          </div>

          <div class="row">
            <div class="col-md-7 text-left">
                <div class="col-md-12 red">
                  <small class="text-muted">
                      Amount
                  </small>
                  <h4>₦3,998,000</h4>
                </div>
            </div>
 

            <div class="col-md-5 text-left">
                <div class="col-md-12">
                  <small class="text-muted">
                      Count
                  </small>
                  <h4>54</h4>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-12 mb-6">
    <div class="card">
      <div class="card-body">
          <div class="col">
            <small class="text-muted">Overviews</small>
            <h5 class="font-weight-bold">Loans</h5>
          </div>
        <canvas id="loanFailed"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-12 mb-6">
    <div class="card">
      <div class="card-body">
          <div class="col">
            <small class="text-muted">Overviews</small>
            <h5 class="font-weight-bold">Savings</h5>
          </div>
        <canvas id="lenders"></canvas>
      </div>
    </div>
  </div>


  <div class="col-md-6 col-12 mb-6">
    <div class="card">
      <div class="card-body">
          <div class="col">
            <small class="text-muted">Overviews</small>
            <h5 class="font-weight-bold">Borrowers</h5>
          </div>
        <canvas id="borrowers"></canvas>
      </div>
    </div>
  </div>


  <div class="col-md-6 col-12 mb-6">
    <div class="card">
      <div class="card-body">
          <div class="col">
            <small class="text-muted">Overviews</small>
            <h5 class="font-weight-bold">Savers</h5>
          </div>
        <canvas id="loan"></canvas>
      </div>
    </div>
  </div>
</div>
