
<!-- <div class="container"> -->

  <div class="row" >
    <div class="col-md-6 col-lg-6 col-xl-8 col-xs-12 col-sm-6 text-left">
      <h4 style="position: relative; top: 25%; left: 2%;">Dashboard</h4>
    </div>

    <div class="col-md-6 col-lg-6 col-xl-4 col-xs-12 col-sm-6 text-right">
      <div class="card">
        <div class="card-body">

            <div class="row" style="margin-top: 0;">
              <div class="col-md-9 col-lg-9 col-xs-9 col-sm-9 text-left green">
                  <!-- <div class="col-md-12"> -->
                    <small class="text-muted">
                        Wallet Balance
                    </small>
                    <h6>₦300,998,000</h6>
                  <!-- </div> -->
              </div>
  
              <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 text-right">
                  <div style="width: 4rem; height: auto; position: absolute; bottom: 0; right: 1rem;">
                      <img src="../../../../assets/img/nav/wallet.svg" alt="wallet">
                  </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  
  </div>
  
  <div class="row">
  
    <!-- <div class="col-md-1 col-1 mb-1"></div>
    <div class="col-md-9 col-12 mb-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
                <div class="col-md-12 text-center">
                  <small class="text-muted">
                    <span class="dark-blue-square"></span> 
                      Total Loan Amount
                  </small>
                  <h6>₦500,000,000.00</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 text-center">
                  <small class="text-muted">
                    <span class="dark-blue-square"></span> 
                      Pending Loan Amount
                  </small>
                  <h6>₦100,000,000.00</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 red text-center">
                  <small class="text-muted">
                    <span class="dark-blue-square"></span> 
                      Total Failed Loan Amount
                  </small>
                  <h6>₦20,000,000.00</h6>
                </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 text-center">
                  <small class="text-muted">
                    <span class="dark-blue-square"></span> 
                      Total Loan Count
                  </small>
                  <h6>500</h6>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 text-center">
                  <small class="text-muted">
                    <span class="dark-blue-square"></span> 
                      Loans Due
                  </small>
                  <h6>₦100,000,000.00</h6>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 red text-center">
                  <small class="text-muted">
                    <span class="dark-blue-square"></span> 
                      Failed Loans
                  </small>
                  <h6>10</h6>
                </div>
              </div>
            </div>
          </div>
  
  
          <div class="row mb-6">
            <div class="col">
              <small class="text-muted">Overviews</small>
              <h6 class="font-weight-bold">Lenders</h6>
            </div>
            <div class="col-auto">
              <div class="row">
                <div class="col-auto text-right">
                  <small class="text-muted"><span class="dark-blue-square"></span> Total</small>
                  <h6>₦500,000.00</h6>
                </div>
                <div class="col-auto text-right">
                  <small class="text-muted"><span class="red-square"></span> Active</small>
                  <h6>₦20,000.00</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-2 mb-2"></div>
   -->
  
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
            <div class="col-md-12 text-left">
              <h5>Loans Disbursed</h5>
            </div>
  
            <div class="row">
              <div class="col-md-12 col-lg-12 col-xl-6 col-sm-9 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Amount
                    </small>
                    <h6>₦45,000,000</h6>
                  </div>
              </div>
   
  
              <div class="col-md-12 col-lg-12 col-xl-6 col-sm-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Count
                    </small>
                    <h6>504</h6>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
            <div class="col-md-12 text-left">
              <h5>Loans Due Today</h5>
            </div>
  
            <div class="row">
              <div class="col-md-12 col-lg-12 col-xl-6 col-sm-9 text-left green">
                  <!-- <div class="col-md-12 "> -->
                    <small class="text-muted">
                        Amount
                    </small>
                    <h6>₦3,998,000</h6>
                  <!-- </div> -->
              </div>
   
  
              <div class="col-md-12 col-lg-12 col-xl-6 col-sm-3 text-left green">
                  <!-- <div class="col-md-12 "> -->
                    <small class="text-muted">
                        Count
                    </small>
                    <h6>54</h6>
                  <!-- </div> -->
              </div>
            </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
            <div class="col-md-12 text-left">
              <h5>Loans Defaults</h5>
            </div>
  
            <div class="row">
              <div class="col-md-12 col-lg-12 col-xl-6 col-sm-9 text-left red">
                  <!-- <div class="col-md-12 "> -->
                    <small class="text-muted">
                        Amount
                    </small>
                    <h6>₦3,998,000</h6>
                  <!-- </div> -->
              </div>
   
  
              <div class="col-md-12 col-lg-12 col-xl-6 col-sm-3 text-left">
                  <!-- <div class="col-md-12"> -->
                    <small class="text-muted">
                        Count
                    </small>
                    <h6>54</h6>
                  <!-- </div> -->
              </div>
            </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-6 col-12">
      <div class="card">
        <div class="card-body">
            <div class="col">
              <small class="text-muted">Overviews</small>
              <h5 class="font-weight-bold">Loans</h5>
            </div>
          <canvas id="loanFailed"></canvas>
        </div>
      </div>
    </div>
  
    <div class="col-md-6 col-12">
      <div class="card">
        <div class="card-body">
            <div class="col">
              <small class="text-muted">Overviews</small>
              <h5 class="font-weight-bold">Savings</h5>
            </div>
          <canvas id="lenders"></canvas>
        </div>
      </div>
    </div>
  
  
    <div class="col-md-6 col-12">
      <div class="card">
        <div class="card-body">
            <div class="col">
              <small class="text-muted">Overviews</small>
              <h5 class="font-weight-bold">Borrowers</h5>
            </div>
          <canvas id="borrowers"></canvas>
        </div>
      </div>
    </div>
  
  
    <div class="col-md-6 col-12">
      <div class="card">
        <div class="card-body">
            <div class="col">
              <small class="text-muted">Overviews</small>
              <h5 class="font-weight-bold">Savers</h5>
            </div>
          <canvas id="loan"></canvas>
        </div>
      </div>
    </div>
  </div>
  
<!-- </div> -->
