<a routerLink="/app/customers/savers/{{savings_details?.user.id}}/general" class="return">&larr; Back </a>


<div *ngIf="savings_details">
  <div class="row">
   
    <div class="col-md-12 col-12 mb-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-md-9 col-12 col-mb-12">
                    <div class="user-data">
                        <h3>{{!savings_details?.name ? 'N/A' : savings_details?.name}}</h3>
                        <h6>{{savings_details?.id}}</h6>
                    </div>
                </div>
                <div class="col-md-3 col-12 col-mb-12">
                    <div class="user-data">
                        <h6>Plan Balance</h6>
                        <h4>₦ {{savings_details?.balance}}</h4>
                    </div>
                </div>
            </div>
    
            <div class="row">
              <div class="col-md-2 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Savings Frequency
                    </small>
                    <h6>{{savings_details?.frequency.name}}</h6>
                  </div>
              </div>
              <div class="col-md-2 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Periodic Amount
                    </small>
                    <h6>₦ {{savings_details?.periodic_amount}}</h6>
                  </div>
              </div>
              <div class="col-md-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Start Date
                    </small>
                    <h6>Apr, 10 2020.</h6>
                  </div>
              </div>
              <div class="col-md-2 text-left">
                  <div class="col-md-12 red">
                    <small class="text-muted">
                        Withdraw By
                    </small>
                    <h6>{{savings_details?.start_date | date}}</h6>
                  </div>
              </div>
              <div class="col-md-2 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Status
                    </small>
                    <h6 *ngIf="savings_details?.status === 1" class="green">Active</h6>
                    <h6 *ngIf="savings_details?.status !== 1" class="red">Inactive</h6>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-md-3 col-3 mb-3">
        <h6>{{savings_details?.user.first_name | titlecase}}'s Saving History</h6>
    </div>
    <div class="col-md-9 col-9 mb-9">
        <hr>
    </div>
</div>


<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Transaction ID</th>
          <th scope="col">Transaction</th>
          <th scope="col">type</th>
          <th scope="col">date</th>
          <th scope="col">Amount (NGN)</th>
        </tr>
      </thead>
      <tbody class="text-muted">
        <tr *ngFor="let each of saving_transactions">
          <td> <span class="badge badge-verified">-------</span></td>
          <td>{{each.transaction_id}}</td>
          <td>{{each.transaction_entry.name}}</td>
          <td>{{each.type}}</td>
          <td>{{each.created_on | date}}</td>
          <td>₦ {{each.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="!savings_details">
        <div class="card-body">
          <h3 class="text-center text-muted">Please wait...</h3>
        </div>
      </div>
    </div>
  </div>