<a routerLink="/app/customers/savers/{{savings_details?.user.id}}/general" class="return">&larr; Back </a>


<div *ngIf="savings_details">
  <div class="row">
   
    <div class="col-md-12 col-12 mb-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-8 col-lg-10 col-xl-10">
                    <div class="user-data">
                        <h3>{{!savings_details?.name ? 'N/A' : savings_details?.name}}</h3>
                        <h6>{{!savings_details?.id ? 'N/A' : savings_details?.id}}</h6>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                    <div class="user-data">
                        <h6>Plan Balance</h6>
                        <h4>{{!savings_details?.balance ? 'N/A' : savings_details?.balance | currency : '₦'}}</h4>
                    </div>
                </div>
            </div>
    
            <div class="row">
              <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Savings Frequency
                    </small>
                    <!-- <h6>{{savings_details?.frequency.name}}</h6> -->
                    <h6>-------</h6>
                  </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Periodic Amount
                    </small>
                    <h6>{{!savings_details?.periodic_amount ? 'N/A' : savings_details?.periodic_amount | currency : '₦'}}</h6>
                  </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Start Date
                    </small>
                    <h6>{{!savings_details?.start_date ? 'N/A' : savings_details?.start_date | date}}</h6>
                  </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-left">
                  <div class="col-md-12 red">
                    <small class="text-muted">
                        Withdraw By
                    </small>
                    <h6>{{!savings_details?.end_date ? 'N/A' : savings_details?.end_date | date}}</h6>
                  </div>
              </div>
              <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Status
                    </small>
                    <h6 *ngIf="savings_details?.status === 1" class="green">Active</h6>
                    <h6 *ngIf="savings_details?.status !== 1" class="red">Inactive</h6>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <h6>{{!savings_details?.user.first_name ? 'N/A' : savings_details?.user.first_name | titlecase}}'s Saving History</h6>
    </div>
    <div class="col-6 col-sm-6 col-md-9 col-lg-9 col-xl-9">
        <hr>
    </div>
</div>


<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Transaction ID</th>
          <th scope="col">Transaction</th>
          <th scope="col">type</th>
          <th scope="col">date</th>
          <th scope="col">Amount (NGN)</th>
        </tr>
      </thead>
      <tbody class="text-muted">
        <tr *ngFor="let each of saving_transactions">
          <td *ngIf="each.status !== 1"> <span class="badge badge-success">Successful</span></td>
          <td *ngIf="each.status === 1"> <span class="badge badge-danger">Failed</span></td>
          <td>{{!each.transaction_id ? 'N/A' : each.transaction_id}}</td>
          <td>{{!each.transaction_entry.name ? 'N/A' : each.transaction_entry.name}}</td>
          <td>{{!each.type ? 'N/A' : each.type}}</td>
          <td>{{!each.created_on ? 'N/A' : each.created_on | date}}</td>
          <td>{{!each.amount ? 'N/A' : each.amount | currency : '₦'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="!savings_details">
        <div class="card-body">
          <h3 class="text-center text-muted">Please wait...</h3>
        </div>
      </div>
    </div>
  </div>