<div class="text-right">
  <div class="col-md-12">
    <a routerLink="/app/business/new-savings-product">
      <button class="btn btn-primary">Add New Savings Product</button>
    </a>
  </div>
</div>
  
  <app-headers title="Savings Products"></app-headers>
  
  <div *ngIf="savingsProduct">


    <div class="row">
      <div class="col-md-12 col-12 col-mb-12">
          <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 col-4 col-mb-4">
                    <div class="user-data">
                      <h3>{{Stats?.total}}</h3>
                      <p class="text-muted">Total</p>
                    </div>
                </div>
    
                <div class="col-md-4 col-4 col-mb-4 green">
                  <div class="user-data">
                    <h3>{{Stats?.active}}</h3>
                    <p class="text-muted ">Active</p>
                  </div>
              </div>
    
              <div class="col-md-4 col-4 col-mb-4 red">
                <div class="user-data">
                  <h3>{{Stats?.inactive}}</h3>
                  <p class="text-muted">Inactive</p>
                </div>
            </div>
    
                </div>
              </div>
          </div>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-md-12 col-12 col-mb-12">
          <div class="card">
            <div class="card-body">
  
            <div class="nav-pills-1">  
              <ngb-tabset type="pills" justify="end" >
                <ngb-tab id="test">
                  <span class="active-nav">
                    <ng-template ngbTabTitle>
                        <mat-icon svgIcon="grid"></mat-icon>                        
                    </ng-template>
                  </span>
                  <ng-template ngbTabContent>
  
              <hr>
    
              <div class="row">
                <div class="col-md-4 col-12 col-sm-6 col-mb-6" *ngFor="let eachProduct of savingsProduct | paginate: {itemsPerPage: 12, currentPage: p}">
                  <div class="card-white">
                    <div class="card-body">
                      <div class="col-md-12">
                        <div [matMenuTriggerFor]="action" class="text-right action loan-action">&#8226;&#8226;&#8226;</div>
                        <div class="user-data-space">
                          <a routerLink="{{eachProduct.id}}"><h5>{{!eachProduct.name ? 'N/A' : eachProduct.name}}</h5></a>
                          <small class="text-muted">{{!eachProduct.id ? 'N/A' : eachProduct.id}}</small>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="user-data-space">
                          <h6>{{!eachProduct.min_amount ? 'N/A' : eachProduct.min_amount}} - {{!eachProduct.max_amount ? 'N/A' : eachProduct.max_amount}}</h6>
                          <small class="text-muted">Amount(NGN)</small>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="user-data-space">
                          <h6>{{!eachProduct.interest_rate ? 'N/A' : eachProduct.interest_rate}}%</h6>
                          <small class="text-muted">Interest Rate</small>
                        </div>
                      </div>
                      <hr>
                      <div class="col-md-12">
                        <div class="cosmos">
                          <span class="cosmos-1"></span>
                          <span class="cosmos-2"></span>
                          <span class="cosmos-3"></span>
                          <span class="cosmos-4"></span>
                          <span class="cosmos-5"></span>
                        </div>
                        <!-- <p class="text-right text-muted">-- Savers</p> -->
                      </div>
                    </div>
                  </div>
              </div>
 
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>  
  </ng-template>
  </ngb-tab>
  <ngb-tab id="test2">
  
    <ng-template ngbTabTitle>
      <mat-icon svgIcon="list"></mat-icon>
    </ng-template>
    <ng-template ngbTabContent>
      <hr>
  
      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Savings</th>
                <th scope="col">ID</th>
                <th scope="col">Interest</th>
                <th scope="col">Amount</th>
                <th scope="col">Savers</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody class="text-muted">
              <tr *ngFor="let eachProduct of savingsProduct | paginate: {itemsPerPage: 10, currentPage: p}">
                <td><a routerLink="{{eachProduct.id}}">{{!eachProduct.name ? 'N/A' : eachProduct.name}}</a></td>
                <td><a routerLink="{{eachProduct.id}}">{{!eachProduct.id ? 'N/A' : eachProduct.id}}</a></td>
                <td><a routerLink="{{eachProduct.id}}">{{!eachProduct.interest_rate ? 'N/A' : eachProduct.interest_rate}}%</a></td>
                <td>{{!eachProduct.min_amount ? 'N/A' : eachProduct.min_amount}} - {{!eachProduct.max_amount ? 'N/A' : eachProduct.max_amount}}</td>
                <td>-----</td>
                <td>
                  <span [matMenuTriggerFor]="action" class="action">
                    &#8226;&#8226;&#8226;
                    </span>
                </td>
                </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
  </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

  
    
    <mat-menu #action="matMenu" class="mt-3">
      <ng-container>
        <button mat-menu-item routerLink="/">
          <mat-icon svgIcon="edit"></mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item routerLink="/">
          <mat-icon svgIcon="delete"></mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item routerLink="/">
          <mat-icon svgIcon="activate"></mat-icon>
          <span>Activate</span>
        </button>
        <button mat-menu-item routerLink="/">
          <mat-icon svgIcon="deactivate"></mat-icon>
          <span>Dectivate</span>
        </button>
      </ng-container>
    
    </mat-menu>
    
  </div>
  </div>
  </div>
  </div>


  </div>

  <div class="row" *ngIf="msg">
    <div class="col-md-12">
      <div class="alert alert-info">
        <h6 class="text-center">{{msg}}</h6>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="!savingsProduct">
        <div class="card-body">
          <h3 class="text-center text-muted">Please wait...</h3>
        </div>
      </div>
    </div>
  </div>

  
  <!-- <div class="row">
    <div class="col-md-12">
          <h4 class="text-center">You currently do not have a savings product</h4>
          <div class="text-center">
            <a routerLink="/app/business/new-savings-product">
              <button class="btn btn-primary">Create Savings Product</button>
            </a>
          </div>
    </div>
  </div> -->
  
  
  
  
  <!-- <div class="row">
    <div class="col-md-3 mb-4 text-center" *ngFor="let item of [1,2,3,4]">
      <div class="card">
        <div class="card-body py-4">
          <img src="../../../../assets/img/green.svg" class="mb-3">
          <h4 class="text-dark-blue">35,900</h4>
          <small class="text-muted">Total</small>
          <div>
            <span class="mt-3 d-flex align-items-center justify-content-center text-danger">
              <i class="material-icons">keyboard_arrow_down</i> 21.80%
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-between align-items-center">
            <div class="col">
              <h5 class="m-0 p-0 text-dark-blue">Loan Products</h5>
            </div>
  
            <div class="col-3">
              <span class="has-search">
                  <mat-icon class="icon ml-2">search</mat-icon>
                <input type="text" name="search" class="search form-control" />
              </span>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Transaction ID</th>
                <th scope="col">Lender</th>
                <th scope="col">Loan Product</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody class="text-muted">
              <tr *ngFor="let country of [1,2,3,4,5,6,6,7,8,9,10]">
                <td> <span class="badge badge-verified">Successful</span></td>
                <td>LSQ1234876</td>
                <td>Okonkwo Henry</td>
                <td>Salary Loan</td>
                <td>Wednesday 14, Jan 2019</td>
                <td>₦20,500</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->