<br>


<div class="col-md-12">
<div class="card">
    <div class="card-body">
        <h4 class="text-center">Accept Invite and update your account</h4>
        </div>
</div>
</div>
<br>

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <!-- <div class="row"> -->
                <div *ngIf="msg" class="alert alert-info text-center">{{msg}}</div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form #updateForm="ngForm" (submit)="verify()">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="account_name">Account Name</label>
                                    <input type="text" name="name" id="account_name" [(ngModel)]="verificationDetails.name" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="email">Email Address</label>
                                    <input type="email" name="email" value="{{email}}" disabled id="email" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="mobile_no">Mobile Number</label>
                                    <input type="tel" name="mobile" id="mobile_no" class="form-control" [(ngModel)]="verificationDetails.mobile" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" class="form-control" [(ngModel)]="verificationDetails.password" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" [disabled]="updateForm.invalid" class="btn btn-primary col-md-12">Complete Profile</button>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            </form>
                    </div>
                
                    <div class="col-md-3"></div>
                    <!-- <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="pic medium square ml-12 profile-img" style="height: 17.5rem; ">
                                  <img src="../../../../assets/img/nav/image.svg" alt="" class="img-fluid">
                                </span>
                            </div>
                        </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-primary col-md-12">Add Image</button>
                                </div>
                            </div>
                        </div> -->
                
                       
                    </div>
                
                
            <!-- </div> -->


        </div>
    </div>
</div>
