<div class="vh-100">
    <div class="row h-100 m-0 p-0 align-items-between">
        <div class="col-lg-5 h-100 bg-gradient text-white">
						<div class="px-md-5 py-3 p-3 mt-3">
							<img src="../../../assets/img/logo.png" class="img-fluid" alt="">
						</div>
						<article class="px-md-5 py-3 p-3 my-5">
							<h3>
								Software to run your loan business
							</h3>
							<p>
								Your everyday tasks feel light. More time with Borrowers, less time with paper and spreadsheets. 
							</p>
						</article>
            <div class="text-center px-md-5 p-3">
								<img src="../../../assets/img/illustration.svg" class="img-fluid" alt="">
						</div>
        </div>
        <div class="col-lg-7  h-100">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>