<div class="row justify-content-center align-items-center h-100">
    <div class="col-md-6 mt-3">
        <h3 class="text-dark-blue pb-4">Welcome Back</h3>

        <form #forgotPasswordForm="ngForm" (submit)="forgotPassword()">
						<p class="pt-4">Log in to your Baines Admin account</p>
						<alert [type]="showAlert" dismissible="true" (onClosed)="onClosed()" *ngIf="msg">{{ msg }}</alert>
            <div class="form-group">
                <input type="email" name="email" required [(ngModel)]="passwordReset.email" id="email" placeholder="Email" class="form-control"/>
            </div>
            <div class="text-right text-green">
                <a routerLink="/auth" class="text-green">Already have an account</a>
            </div>
            <div class="my-3">
                <button type="submit" [disabled]="forgotPasswordForm.invalid || loading" class="btn btn-primary py-2 bg-green text-white btn-block">
                  {{!loading ? 'Reset Password' : ''}} <span class="spinner-grow spinner-grow-sm" *ngIf="loading"></span>
                </button>
            </div>
        </form>
    </div>
</div>