<div class="row">
  <a routerLink="/app/customers/users/" class="return">&larr; Back to Users</a>
</div>

<app-headers title="User Details" [crumbs]="borrowersName"></app-headers>

<ngb-tabset type="pills" justify="justified">
  <ngb-tab title="General">
    <ng-template ngbTabContent >

      <div *ngIf="userDetails">

        <div class="row">
          <div class="col-md-12 col-12 col-mb-12">
              <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 col-12 col-mb-12">
                        <span class="pic small round ml-12">
                            <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                        </span>
                        <div class="user-data" >
                            <h3>{{!userDetails?.last_name ? 'N/A' : userDetails?.last_name | titlecase}} {{!userDetails?.first_name ? 'N/A' : userDetails?.first_name | titlecase}}</h3>
                            <p>{{!userDetails?.client_id ? 'N/A' : userDetails?.client_id}}</p>
                        </div>
                    </div>
        
                    <!-- <div class="col-md-4 col-12 col-mb-12 text-right">
                      <div class="user-data">
                        <p>Role</p>
                          <h3>Saver</h3>
                      </div>
                  </div> -->
                    </div>
                  </div>
              </div>
          </div>
        </div>
      
      
      <div class="row">
         
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <div class="col-md-12 col-12 mb-12">
                  &nbsp;
                  <!-- This section contains important details about the Borrower, in the form of list items. The same details provided by the lender when they joined the platform as well as other important data needed for the admin user. -->
                  <hr>
              </div>
              <div class="col-md-12 col-12 mb-12">
                <h3>Personal Information</h3>
              </div>
                <div class="row">
                  <div class="col-md-4">
                        <div class="col-md-12">
                            <small class="text-muted">
                                Full name
                            </small>
                            <h6><strong>{{!userDetails?.last_name ? 'N/A' : userDetails?.last_name | titlecase}} {{!userDetails?.first_name ? 'N/A' : userDetails?.first_name | titlecase}}</strong></h6>
                          </div>
                  </div>
                  <div class="col-md-4">
                        <div class="col-md-12">
                            <small class="text-muted">
                                Mobile Number
                            </small>
                            <h6><strong>{{!userDetails?.phone_number ? 'N/A' : userDetails?.phone_number}}</strong></h6>
                          </div>
                  </div>
                  <div class="col-md-4">
                        <div class="col-md-12 ">
                            <small class="text-muted">
                                BVN
                            </small>
                            <h6><strong>{{!userDetails?.bvn ? 'N/A' : userDetails?.bvn}}</strong></h6>
                          </div>
                  </div>
                  <div class="col-md-4">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Gender
                        </small>
                        <h6><strong>{{!moreProfile?.gender ? 'N/A' : moreProfile?.gender}}</strong></h6>
                      </div>
                  </div>
      
                  <div class="col-md-4">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Email Address
                        </small>
                        <h6><strong>{{!userDetails?.email ? 'N/A' : userDetails?.email}}</strong></h6>
                      </div>
                  </div>
      
                  <div class="col-md-4">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Marital Status
                        </small>
                        <h6><strong>{{!moreProfile?.marital_status ? 'N/A' : moreProfile?.marital_status}}</strong></h6>
                      </div>
                  </div>
      
                  <div class="col-md-4">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Dependants
                        </small>
                        <h6><strong>{{!moreProfile?.no_of_dependent ? 'N/A' : moreProfile?.no_of_dependent}}</strong></h6>
                      </div>
                  </div>
      
                  <div class="col-md-4">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Type of Residence
                        </small>
                        <h6><strong>{{!moreProfile?.type_of_residence ? 'N/A' : moreProfile?.type_of_residence}}</strong></h6>
                      </div>
                  </div>
                </div>
              </div>    
            </div>
        </div>
      
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <span class="pic medium square ml-12 profile-img">
                <img src="{{userDetails?.photo_url}}" alt="" class="img-fluid">
              </span>  
              </div>    
            </div>
        </div>
      </div>
      
      
      <div class="row">
         
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="col-md-12 col-12 mb-12">
                <h3>Education &amp; Employment Details</h3>
              </div>
                <div class="row">
                  <div class="col-md-3">
                        <div class="col-md-12">
                            <small class="text-muted">
                                Level Of Education
                            </small>
                            <h6><strong>{{!moreProfile?.educational_attainment? 'N/A' : moreProfile?.educational_attainment}}</strong></h6>
                          </div>
                  </div>
                  <div class="col-md-3">
                        <div class="col-md-12">
                            <small class="text-muted">
                                Employment Status
                            </small>
                            <h6><strong>{{!moreProfile?.employment_status ? 'N/A' : moreProfile?.employment_status}}</strong></h6>
                          </div>
                  </div>
                  <div class="col-md-3">
                        <div class="col-md-12 ">
                            <small class="text-muted">
                                Sector Of Employment
                            </small>
                            <h6><strong>{{!moreProfile?.sector_of_employment ? 'N/A' : moreProfile?.sector_of_employment}}</strong></h6>
                          </div>
                  </div>
                  <div class="col-md-3">
                      <div class="col-md-12">
                        <small class="text-muted">
                          Employment Date
                        </small>
                        <h6><strong>{{!moreProfile?.work_start_date ? 'N/A' : moreProfile?.work_start_date | date}}</strong></h6>
                      </div>
                  </div>
      
                  <div class="col-md-3">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Monthly Income
                        </small>
                        <h6><strong>{{!moreProfile?.monthly_net_income ? 'N/A': moreProfile?.monthly_net_income}}</strong></h6>
                      </div>
                  </div>
      
                  <div class="col-md-3">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Loan Repayment
                        </small>
                        <h6><strong>40,000</strong></h6>
                      </div>
                  </div>
      
                  <div class="col-md-3">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Official Email Address
                        </small>
                        <h6><strong>{{!moreProfile?.work_email ? 'N/A' : moreProfile?.work_email}}</strong></h6>
                      </div>
                  </div>    
                </div>
              </div>    
            </div>
        </div>
      </div>    
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card" *ngIf="!userDetails">
            <div class="card-body">
              <h3 class="text-center text-muted">Please wait...</h3>
            </div>
          </div>
        </div>
      </div>

    </ng-template>
  </ngb-tab>


  <ngb-tab title="User Loans">
    <ng-template ngbTabContent >


      <div class="row">
        <div class="col-md-12 col-12 col-mb-12">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-8 col-12 col-mb-12">
                      <span class="pic small round ml-12">
                          <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                      </span>
                      <div class="user-data">
                          <h3>{{!userDetails?.last_name ? 'N/A' : userDetails?.last_name | titlecase}} {{!userDetails?.first_name ? N/A : userDetails?.first_name | titlecase}}</h3>
                          <p>{{id}}</p>
                      </div>
                  </div>
      
                  <div class="col-md-4 col-12 col-mb-12 text-right">
                    <div class="user-data">
                      <p>Total Loans Received</p>
                        <h3>{{!borrowerLoans?.total_loan_amount ? 'N/A' : borrowerLoans?.total_loan_amount}}</h3>
                    </div>
                </div>
                  </div>
                </div>
            </div>
        </div>
      </div>


      <div class="row" *ngIf="loan_details.length > 0">

            <!-- <div class="row"> -->
              <div class="col-md-12">

                

                <div class="table-responsive">

                    <!-- <div class="row justify-content-between align-items-center">
                      <div class="col-md-5">
                        <h6 class="m-0 p-0 text-left text-dark-blue">All Loans</h6>
                      </div>
            
                      <div class="col-md-5 col-12 mb-12">
                        <form>
                          <span class="has-search">
                            <mat-icon class="icon ml-1 search-icon">search</mat-icon>
                          <input type="text" id="search" [(ngModel)]="term" name="search" placeholder="Search by ID, name, e.t.c" class="search form-control" />
                        </span>
                      </form>
                    </div>
                    </div> -->



                    <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Status</th>
                        <th scope="col">ID</th>
                        <th scope="col">Loan Purpose</th>
                        <th scope="col">Loan Product</th>
                        <th scope="col">Repayment date</th>
                        <th scope="col">Repayment Amount</th>
                      </tr>
                    </thead>
                    <tbody class="text-muted">
                      <tr *ngFor="let loan of loan_details | paginate: {itemsPerPage: 10, currentPage: p}">
                        <td *ngIf="loan.status.status === 'SETTLED'"><span class="badge badge-success">{{!loan.status.status ? 'N/A' : loan.status.status}}</span></td>
                        <td *ngIf="loan.status.status !== 'SETTLED'"><span class="badge badge-danger">{{!loan.status.status ? 'N/A' : loan.status.status}}</span></td>
                        <td><a routerLink="/app/business/loans/{{loan.id}}">{{loan.id}}</a></td>
                        <td><a routerLink="/app/business/loans/{{loan.id}}">{{!loan.loan_profile ? 'Not available' : loan.loan_profile.purpose}}</a></td>
                        <td>{{!loan.tenor_type.value ? 'N/A' :loan.tenor_type.value}} days</td>
                        <td>{{!loan.schedule.repayment_day ? 'N/A' : loan.schedule.repayment_day | date}}</td>
                        <td>₦{{!loan.loan_amount ? 'N/A' : loan.loan_amount}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="card" *ngIf="loan_details.length === 0">
                <div class="card-body">
                  <h3 class="text-center text-muted">No loans record...</h3>
                </div>
              </div>
            </div>
          </div>
      

    </ng-template>
  </ngb-tab>

  <ngb-tab title="User Savings">
    <ng-template ngbTabContent >


      <div class="row">
        <div class="col-md-12 col-12 col-mb-12">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-8 col-12 col-mb-12">
                      <span class="pic small round ml-12">
                          <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                      </span>
                      <div class="user-data">
                          <h3>{{!userDetails?.last_name ? 'N/A' : userDetails?.last_name | titlecase}} {{!userDetails?.first_name ? N/A : userDetails?.first_name | titlecase}}</h3>
                          <p>{{id}}</p>
                      </div>
                  </div>
      
                  <div class="col-md-4 col-12 col-mb-12 text-right">
                    <div class="user-data">
                      <p>Total Savings</p>
                        <h3>{{!totalSavings ? 'N/A' : totalSavings}}</h3>
                    </div>
                </div>
                  </div>
                </div>
            </div>
        </div>
      </div>


      <div class="row" *ngIf="userSavings.length > 0">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">name</th>
                  <th scope="col">start date</th>
                  <th scope="col">end date</th>
                  <th scope="col">Periodic Amount (NGN)</th>
                  <th scope="col">Target</th>
                  <th scope="col">Tenor</th>
                </tr>
              </thead>
              <tbody class="text-muted">
                <tr *ngFor="let eachSavings of userSavings | paginate: {itemsPerPage: 10, currentPage: p}">
                  <td>{{!eachSavings.id ? 'N/A' : eachSavings.id}}</td>
                  <td>{{!eachSavings.name ? "N/A" : eachSavings.name}}</td>
                  <td>{{!eachSavings.start_date ? 'N/A' : eachSavings.start_date | date}}</td>
                  <td>{{!eachSavings.end_date ? 'N/A' : eachSavings.end_date | date}}</td>
                  <td>{{!eachSavings.periodic_amount ? 'N/A' : eachSavings.periodic_amount}}</td>
                  <td>{{!eachSavings.target ? 'N/A' : eachSavings.target}}</td>
                  <td>{{!eachSavings.tenor ? 'N/A' : eachSavings.tenor}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-12 text-center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="row">
        <div class="col-md-12">
          <div class="card" *ngIf="userSavings.length === 0">
            <div class="card-body">
              <h3 class="text-center text-muted">No Savings record...</h3>
            </div>
          </div>
        </div>
      </div>

    </ng-template>
  </ngb-tab>

  <ngb-tab title="Bank Details">
    <ng-template ngbTabContent >


      <div class="row">
        <div class="col-md-12 col-12 col-mb-12">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-12 col-mb-12">
                      <span class="pic small round ml-12">
                          <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                      </span>
                      <div class="user-data" >
                          <h3>{{!userDetails?.last_name ? 'N/A' : userDetails?.last_name | titlecase}} {{!userDetails?.first_name ? 'N/A' : userDetails?.first_name | titlecase}}</h3>
                          <p>{{!userDetails?.client_id ? 'N/A' : userDetails?.client_id}}</p>
                      </div>
                  </div>
      
                  <!-- <div class="col-md-4 col-12 col-mb-12 text-right">
                    <div class="user-data">
                      <p>Role</p>
                        <h3>Saver</h3>
                    </div>
                </div> -->
                  </div>
                </div>
            </div>
        </div>
      </div>


    <div class="container-fluid">
      <div class="row row-eq-height my-5" style="padding-left: 0; padding-right: 0;">
        <div class="col-md-5 mb-4">
          <div style="position: relative; top: 0; left: -1rem;">
            <h4>Bank</h4>
          </div>
          
          <div class="col-md-12" *ngFor="let each of banks">
            <div class="card " style="position: relative; top: 0; left: -1rem; margin-bottom: 1rem;">
              <div class="card-body" style="padding-left: 0;
              padding-right: 0;
              padding-top: 1rem;
              padding-bottom: 1rem;">
                <!-- <div class="row"> -->
                  <div class="col-12 text-dark">
                    <!-- <div class="row"> -->
                      <div class="col-12 mb-4" style="padding-left: 0; padding-right: 0;">
                        <div class="row">
                          <div class="col">
                            <div class="text-muted">Bank</div>
                            <div class="text-uppercase">{{each.bank_code}}</div>
                          </div>
                          <div class="col-auto">
                            <img src="../../../../assets/img/gt.svg" class="img-fluid" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="col-12" style="padding-left: 0; padding-right: 0;">
                        <div class="row mt-1">
                          <div class="col mb-4">
                            <div class="text-muted">Account Number</div>
                            <div class="text-uppercase">{{each.account_number}}</div>
                          </div>
                          <div class="col-auto mb-4 text-right">
                            <div class="text-muted">BVN</div>
                            <div class="text-uppercase">{{borrower?.bvn}}</div>
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->
                  </div>
                <!-- </div> -->
              </div>
              <div class="card-footer">
                <!-- <div class="row"> -->
                  <div class="col-12 text-right">
                    <p class=" badge badge-success">ACTIVE</p>
                  </div>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2 mb-4 mono"></div>

        <div class="col-md-5 mb-4">
          <div style="position: relative; top: 0; right: -1rem;">
            <h4>Card</h4>
          </div>
          
          <div class="col-md-12" *ngFor="let each of cards">

            <div class="card  card-gradient text-white" style="position: relative; top: 0; right: -1rem; margin-bottom: 1rem;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-12 my-2">
                    <h3>**** **** **** {{each.card_last4}}</h3>
                  </div>
  
                </div>
                <div class="row align-items-end">
                  <div class="col mt-5">
                    <small>EXPIRES {{each.card_exp_month}}/{{each.card_exp_year}}</small>
                    <div class="mb-3">{{each.card_owner_name}}</div>
                  </div>
                  <div class="col-auto text-right">
                    <img src="../../../../assets/img/master.svg"><br />
                    mastercard
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


    </ng-template>
  </ngb-tab>

</ngb-tabset>

