<a routerLink="/app/customers/users/" class="return">&larr; Back to Users</a>


<app-headers title="All Users" [crumbs]="borrowersName"></app-headers>


<div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8 col-12 col-mb-12">
                  <span class="pic small round ml-12">
                      <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                  </span>
                  <div class="user-data">
                      <h3>Chihurumanya Okwechime</h3>
                      <p>LSQ38389290</p>
                  </div>
              </div>
  
              <div class="col-md-4 col-12 col-mb-12 text-right">
                <div class="user-data">
                  <p>Role</p>
                    <h3>Saver</h3>
                </div>
            </div>
              </div>
            </div>
        </div>
    </div>
  </div>


<div class="row">
   
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 col-12 mb-12">
            &nbsp;
            <!-- This section contains important details about the Borrower, in the form of list items. The same details provided by the lender when they joined the platform as well as other important data needed for the admin user. -->
            <hr>
        </div>
        <div class="col-md-12 col-12 mb-12">
          <h3>Personal Information</h3>
        </div>
          <div class="row">
            <div class="col-md-4">
                  <div class="col-md-12">
                      <small class="text-muted">
                          Full name
                      </small>
                      <h5><strong>Saidi Balogun</strong></h5>
                    </div>
            </div>
            <div class="col-md-4">
                  <div class="col-md-12">
                      <small class="text-muted">
                          Mobile Number
                      </small>
                      <h5><strong>09089544444</strong></h5>
                    </div>
            </div>
            <div class="col-md-4">
                  <div class="col-md-12 ">
                      <small class="text-muted">
                          BVN
                      </small>
                      <h5><strong>9829379234</strong></h5>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                  <small class="text-muted">
                      Gender
                  </small>
                  <h5><strong>Male</strong></h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12">
                  <small class="text-muted">
                      Email Address
                  </small>
                  <h5><strong>xyz@domain.com</strong></h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12">
                  <small class="text-muted">
                      Marital Status
                  </small>
                  <h5><strong>Single</strong></h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12">
                  <small class="text-muted">
                      Children
                  </small>
                  <h5><strong>3</strong></h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12">
                  <small class="text-muted">
                      Type of Residence
                  </small>
                  <h5><strong>Parents Apartment</strong></h5>
                </div>
            </div>
          </div>
        </div>    
      </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <span class="pic medium square ml-12 profile-img">
          <img src="../../../../assets/img/nav/image.svg" alt="" class="img-fluid">
        </span>  
        </div>    
      </div>
  </div>
</div>


<div class="row">
   
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 col-12 mb-12">
          <h3>Education &amp; Employment Details</h3>
        </div>
          <div class="row">
            <div class="col-md-3">
                  <div class="col-md-12">
                      <small class="text-muted">
                          Level Of Education
                      </small>
                      <h5><strong>B.Sc.</strong></h5>
                    </div>
            </div>
            <div class="col-md-3">
                  <div class="col-md-12">
                      <small class="text-muted">
                          Employment Status
                      </small>
                      <h5><strong>Federal: Public</strong></h5>
                    </div>
            </div>
            <div class="col-md-3">
                  <div class="col-md-12 ">
                      <small class="text-muted">
                          Sector Of Employment
                      </small>
                      <h5><strong>IT</strong></h5>
                    </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                  <small class="text-muted">
                    Duration Of Employment
                  </small>
                  <h5><strong>2 years</strong></h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-md-12">
                  <small class="text-muted">
                      Monthly Income
                  </small>
                  <h5><strong>100,000 - 200,000</strong></h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-md-12">
                  <small class="text-muted">
                      Loan Repayment
                  </small>
                  <h5><strong>40,000</strong></h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-md-12">
                  <small class="text-muted">
                      Official Email Address
                  </small>
                  <h5><strong>wed@dmola.com</strong></h5>
                </div>
            </div>    
          </div>
        </div>    
      </div>
  </div>
</div>

