<a routerLink="/app/settings/team" class="return">&larr; Back</a>

<app-headers title="Team"></app-headers>


        <div class="col-md-12 col-12 col-mb-12">
            <div class="card">
                <div class="card-body">
                        <div class="col-md-12 col-12 col-mb-12">
                            <div class="col-md-12 user-data" >
                                <h3>Create new users, one at a time.</h3>
                                <small>Add a new user to your team with an email address.</small>
                            </div>
                        </div>
                </div>
            </div>
        </div>
<br>
<div class="col-md-12">
    <div class="card">
    <div class="card-body">
      <div *ngIf="msg" class="alert alert-info text-center">
        <alert [type]="showAlert" dismissible="true" (onClosed)="onClosed()">{{msg}}</alert>
      </div>
        <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper" style="background-color: transparent;">
                <mat-step [stepControl]="firstFormGroup">
                  <form #firstFormGroup="ngForm" (submit)="sendInvite()">
                    <div class="row">
                      <mat-form-field class="col-md-6">
                        <input type="email" matInput placeholder="Email Address" [(ngModel)]="invitation.email" name="email" required>
                      </mat-form-field>
                    </div>
                    <div class="row">
                      <mat-select [(ngModel)]="invitation.role" id="role" name="role" name="role" style="margin-bottom: 2rem;" class="col-md-6" placeholder="Role" required>
                        <mat-option  *ngFor="let each of roles" value="{{each.id}}">{{each.name | titlecase}}</mat-option>
                    </mat-select>
                    </div>

                    <div class="col-md-6 text-right">
                      <button type="submit" class="btn btn-primary">Send Invite</button>
                    </div>
                  </form>
                </mat-step>


                <!-- <mat-step>
                  <form [formGroup]="secondFormGroup">
                    <div class="row col-md-12">
                      <h5 class="text-muted"> <b>The permissions below apply to your new user.</b> </h5>
                    </div>
                      <div class="row col-md-12">
                        <mat-checkbox color="primary">Can Export Transactions</mat-checkbox>
                      </div>
                      <div class="row col-md-12">
                        <mat-checkbox color="primary">Can View Transactions</mat-checkbox>
                      </div>
                      <div class="row col-md-12">
                        <mat-checkbox color="primary">Can View Customers</mat-checkbox>
                      </div>
                      <div class="row col-md-12">
                        <mat-checkbox color="primary">Can Manage Customers</mat-checkbox>
                      </div>
                      <div class="row col-md-12">
                        <div class="col-md-6 text-right" >
                          <button mat-button matStepperPrevious class="btn btn-primary">Back</button>
                      </div>
                      <div class="col-md-6 text-left">
                          <button mat-button (click)="stepper.reset()" class="btn btn-success">Apply</button>
                        </div>
                      </div>
                  </form>
                </mat-step> -->
              </mat-horizontal-stepper>
        </div>   
    </div>
</div>
