<!-- <a routerLink="/app/business/loans/" class="return">&larr; Back to Loans</a> -->

<div class="row">
  <a (click)="backClicked()" style="cursor: pointer;"><u>&larr; Back</u></a>
</div>


<app-headers title="Loan Details" [crumbs]="borrowersName"></app-headers>

<div *ngIf="borrower">

  <div class="row"></div>

<ngb-tabset type="pills" justify="justified">
  <ngb-tab title="Borrower's Details">
    <ng-template ngbTabContent>

      <div class="row">
     
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <div class="col-md-12 col-12 mb-12">
                  This section contains important details about the Borrower, in the form of list items. The same details provided by the lender when they joined the platform as well as other important data needed for the admin user.
                  <hr>
              </div>
              <div class="col-md-12 col-12 mb-12">
                <h3>Personal Information</h3>
              </div>
                <div class="row">
                  <div class="col-md-4">
                        <div class="col-md-12">
                            <small class="text-muted">
                                Full name
                            </small>
                            <h6><strong>{{!borrower?.last_name ? 'N/A' : borrower?.last_name | titlecase}} {{!borrower?.first_name ? 'N/A' : borrower?.first_name | titlecase}}</strong></h6>
                          </div>
                  </div>
                  <div class="col-md-4">
                        <div class="col-md-12">
                            <small class="text-muted">
                                Mobile Number
                            </small>
                            <h6><strong>{{!borrower?.phone_number ? 'N/A' : borrower?.phone_number}}</strong></h6>
                          </div>
                  </div>
                  <div class="col-md-4">
                        <div class="col-md-12 ">
                            <small class="text-muted">
                                BVN
                            </small>
                            <h6><strong>{{!borrower?.bvn ? 'N/A' : borrower?.bvn}}</strong></h6>
                          </div>
                  </div>
                  <div class="col-md-4">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Gender
                        </small>
                        <h6><strong>{{!moreProfile?.gender ? 'N/A' : moreProfile?.gender}}</strong></h6>
                      </div>
                  </div>
      
                  <div class="col-md-4">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Email Address
                        </small>
                        <h6><strong>{{!borrower?.email ? 'N/A' : borrower?.email}}</strong></h6>
                      </div>
                  </div>
      
                  <div class="col-md-4">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Marital Status
                        </small>
                        <h6><strong>{{!moreProfile?.marital_status ? 'N/A' : moreProfile?.marital_status}}</strong></h6>
                      </div>
                  </div>
      
                  <div class="col-md-4">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Dependants
                        </small>
                        <h6><strong>{{!moreProfile?.no_of_dependent ? 'N/A' : moreProfile?.no_of_dependent}}</strong></h6>
                      </div>
                  </div>
      
                  <div class="col-md-4">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Type of Residence
                        </small>
                        <h6><strong>{{!moreProfile?.type_of_residence ? 'N/A' : moreProfile?.type_of_residence}}</strong></h6>
                      </div>
                  </div>
                </div>
              </div>    
            </div>
        </div>
      
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <span class="pic medium square ml-12 profile-img">
                <img src="{{borrower?.photo_url}}" alt="" class="img-fluid">
              </span>  
              </div>    
            </div>
        </div>
      </div>
  


      <div class="row">
     
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="col-md-12 col-12 mb-12">
                <h3>Education &amp; Employment Details</h3>
              </div>
              <div class="row">
                <div class="col-md-3">
                      <div class="col-md-12">
                          <small class="text-muted">
                              Level Of Education
                          </small>
                          <h6><strong>{{!moreProfile?.educational_attainment? 'N/A' : moreProfile?.educational_attainment}}</strong></h6>
                        </div>
                </div>
                <div class="col-md-3">
                      <div class="col-md-12">
                          <small class="text-muted">
                              Employment Status
                          </small>
                          <h6><strong>{{!moreProfile?.employment_status ? 'N/A' : moreProfile?.employment_status}}</strong></h6>
                        </div>
                </div>
                <div class="col-md-3">
                      <div class="col-md-12 ">
                          <small class="text-muted">
                              Sector Of Employment
                          </small>
                          <h6><strong>{{!moreProfile?.sector_of_employment ? 'N/A' : moreProfile?.sector_of_employment}}</strong></h6>
                        </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                      <small class="text-muted">
                        Employment Date
                      </small>
                      <h6><strong>{{!moreProfile?.work_start_date ? 'N/A' : moreProfile?.work_start_date | date}}</strong></h6>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="col-md-12">
                      <small class="text-muted">
                          Monthly Income
                      </small>
                      <h6><strong>{{!moreProfile?.monthly_net_income ? 'N/A': moreProfile?.monthly_net_income}}</strong></h6>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="col-md-12">
                      <small class="text-muted">
                          Loan Repayment
                      </small>
                      <h6><strong>{{!loan_schedule?.repayment_amount ? 'N/A' : loan_schedule?.repayment_amount}}</strong></h6>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="col-md-12">
                      <small class="text-muted">
                          Official Email Address
                      </small>
                      <h6><strong>{{!moreProfile?.work_email ? 'N/A' : moreProfile?.work_email}}</strong></h6>
                    </div>
                </div>    
              </div>
              </div>    
            </div>
        </div>
      </div>



    </ng-template>
  </ngb-tab>

  <ngb-tab title="Loan Details">
    <ng-template ngbTabContent>

      <div class="row">

        <div class="col-md-12 col-12 mb-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-9 col-12 col-mb-12">
                      <div class="user-data">
                          <h3>{{!Details?.loan_profile.purpose ? 'N/A' : Details?.loan_profile.purpose}}</h3>
                          <h6>{{!Details?.loan_profile.loan_id ? 'N/A' : Details?.loan_profile.loan_id}}</h6>
                      </div>
                  </div>
                  <div class="col-md-3 col-12 col-mb-12">
                      <div class="user-data">
                          <h6>Loan Amount</h6>
                          <h4>₦{{!Details?.loan_amount ? 'N/A' : Details?.loan_amount}}</h4>
                      </div>
                  </div>
              </div>
        
                <div class="row">
                  <div class="col-md-3 text-left">
                    <div class="col-md-12">
                      <small class="text-muted">
                          Tenor
                      </small>
                      <h6>{{!Details?.tenor_type.value ? 'N/A' : Details?.tenor_type.value}} days</h6>
                    </div>
                  </div>
                  <div class="col-md-3 text-left">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Application Date
                        </small>
                        <h6>{{!Details?.created_on ? 'N/A' : Details?.created_on | date}}.</h6>
                      </div>
                  </div>
                  <div class="col-md-3 text-left">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Repayment Date
                        </small>
                        <h6>{{!Details?.schedule.repayment_day ? 'N/A' : Details?.schedule.repayment_day | date}}.</h6>
                      </div>
                  </div>
                  <div class="col-md-3 text-left">
                      <div class="col-md-12">
                        <small class="text-muted">
                            Status
                        </small>
                        <h6 [ngClass]="{'green': Details?.status.status === 'SETTLED', 'red': Details?.status.status == 'RUNNING', 'orange': Details?.status.status == 'PENDING'}">{{!Details?.status.status ? 'N/A' : Details?.status.status}}</h6>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    
      <div class="row">
        <div class="col-md-3 col-3 mb-3">
            <h6>{{borrower?.first_name | titlecase}}'s Loan History</h6>
        </div>
        <div class="col-md-9 col-9 mb-9">
            <hr>
        </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">

          <div class="row justify-content-between align-items-center">
            <div class="col">
              <!-- <h5 class="m-0 p-0 text-dark-blue">Team members</h5> -->
            </div>
  
            <div class="col-md-5 col-12 mb-12">
              <span class="has-search">
                  <mat-icon class="icon ml-1 search-icon">search</mat-icon>
                <input type="text" name="search" placeholder="Search by ID, type, e.t.c" class="search form-control" />
              </span>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Transaction ID</th>
                <th scope="col">type</th>
                <th scope="col">date</th>
                <th scope="col">Amount (NGN)</th>
                <th scope="col">Loan Balance</th>
              </tr>
            </thead>
            <tbody class="text-muted">
              <tr *ngFor="let each of Details.loan_transactions">
                <td> <span class="badge badge-success">Successful</span></td>
                <td>{{each.transaction_id}}</td>
                <td>{{each.type}}</td>
                <td>{{each.created_on | date:'medium'}}</td>
                <td>₦ {{each.amount}}</td>
                <td>₦ {{'-----'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    </ng-template>
  </ngb-tab>

  <ngb-tab title="Loan Schedule">
    <ng-template ngbTabContent>

      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">

            <div class="row justify-content-between align-items-center">
              <div class="col">
                <!-- <h5 class="m-0 p-0 text-dark-blue">Team members</h5> -->
              </div>
    
              <div class="col-md-5 col-12 mb-12">
                <span class="has-search">
                    <mat-icon class="icon ml-1 search-icon">search</mat-icon>
                  <input type="text" name="search" placeholder="Search by Principal, status, Balance, e.t.c" class="search form-control" />
                </span>
              </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Total Loan</th>
                  <th scope="col">Balance Due</th>
                  <th scope="col">Principal</th>
                  <th scope="col">Interest</th>
                </tr>
              </thead>
              <tbody class="text-muted">
                <tr >
                  <td *ngIf="Details?.status.status === 'SETTLED'"> <span class="badge badge-success">{{!Details?.status.status ? 'N/A' : Details?.status.status}}</span></td>
                  <td *ngIf="Details?.status.status !== 'SETTLED'"> <span class="badge badge-warning">{{!Details?.status.status ? 'N/A' : Details?.status.status}}</span></td>
                  <td>{{Details?.schedule.repayment_day | date}}</td>
                  <td>{{Details?.schedule.repayment_amount + Details?.interest_due}}</td>
                  <td>{{Details?.schedule.repayment_amount}}</td>
                  <td>{{Details?.loan_amount}}</td>
                  <td>{{Details?.interest_due}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </ng-template>
  </ngb-tab>


</ngb-tabset>


</div>


<div class="row">
  <div class="col-md-12">
    <div class="card" *ngIf="!borrower">
      <div class="card-body">
        <h3 class="text-center text-muted">Loading...</h3>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body">
                    <div class="col-md-12 col-12 col-mb-12">
                        <div class="user-data">
                            <h3>Chihurumanya Okwechime</h3>
                            <small>LSQ38389290</small>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-12 col-12 col-mb-12">
      <div class="card">
          <div class="card-body-menu">
            <ul class="menu-list">
                <li><a routerLink="/app/business/loans/LSQ1293943/" routerLinkActive="active-link">Borrower's Details</a></li>
                <li><a routerLink="/app/business/loans/LSQ1293943/loan-details" routerLinkActive="active-link">Loan Details</a></li>
                <li><a routerLink="/app/business/loans/LSQ1293943/loan-schedule" routerLinkActive="active-link">Loan Schedule</a></li>
            </ul>  

          </div>
      </div>
  </div>
</div> -->
<!-- 
<div class="row">
   
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 col-12 mb-12">
            &nbsp;
            <hr>
        </div>
        <div class="col-md-12 col-12 mb-12">
          <h3>Personal Information</h3>
        </div>
          <div class="row">
            <div class="col-md-4">
                  <div class="col-md-12">
                      <small class="text-muted">
                          Full name
                      </small>
                      <h5><strong>Saidi Balogun</strong></h5>
                    </div>
            </div>
            <div class="col-md-4">
                  <div class="col-md-12">
                      <small class="text-muted">
                          Mobile Number
                      </small>
                      <h5><strong>09089544444</strong></h5>
                    </div>
            </div>
            <div class="col-md-4">
                  <div class="col-md-12 ">
                      <small class="text-muted">
                          BVN
                      </small>
                      <h5><strong>9829379234</strong></h5>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                  <small class="text-muted">
                      Gender
                  </small>
                  <h5><strong>Male</strong></h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12">
                  <small class="text-muted">
                      Email Address
                  </small>
                  <h5><strong>xyz@domain.com</strong></h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12">
                  <small class="text-muted">
                      Marital Status
                  </small>
                  <h5><strong>Single</strong></h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12">
                  <small class="text-muted">
                      Children
                  </small>
                  <h5><strong>3</strong></h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12">
                  <small class="text-muted">
                      Type of Residence
                  </small>
                  <h5><strong>Parents Apartment</strong></h5>
                </div>
            </div>
          </div>
        </div>    
      </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <span class="pic medium square ml-12 profile-img">
          <img src="../../../../assets/img/nav/image.svg" alt="" class="img-fluid">
        </span>  
        </div>    
      </div>
  </div>
</div>


<div class="row">
   
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 col-12 mb-12">
          <h3>Education &amp; Employment Details</h3>
        </div>
          <div class="row">
            <div class="col-md-3">
                  <div class="col-md-12">
                      <small class="text-muted">
                          Level Of Education
                      </small>
                      <h5><strong>B.Sc.</strong></h5>
                    </div>
            </div>
            <div class="col-md-3">
                  <div class="col-md-12">
                      <small class="text-muted">
                          Employment Status
                      </small>
                      <h5><strong>Federal: Public</strong></h5>
                    </div>
            </div>
            <div class="col-md-3">
                  <div class="col-md-12 ">
                      <small class="text-muted">
                          Sector Of Employment
                      </small>
                      <h5><strong>IT</strong></h5>
                    </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                  <small class="text-muted">
                    Duration Of Employment
                  </small>
                  <h5><strong>2 years</strong></h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-md-12">
                  <small class="text-muted">
                      Monthly Income
                  </small>
                  <h5><strong>100,000 - 200,000</strong></h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-md-12">
                  <small class="text-muted">
                      Loan Repayment
                  </small>
                  <h5><strong>40,000</strong></h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-md-12">
                  <small class="text-muted">
                      Official Email Address
                  </small>
                  <h5><strong>wed@dmola.com</strong></h5>
                </div>
            </div>    
          </div>
        </div>    
      </div>
  </div>
</div>
 -->
