<a routerLink="/app/audits/" class="return">&larr; Back to Audits</a>

<app-headers title="Audit Logs"></app-headers>


<div class="row" *ngIf="audit_details">

    <div class="col-md-12 col-12 mb-12">
        <div class="card">
          <div class="card-body">
    
            <div class="row">
              <div class="col-md-6 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        User
                    </small>
                    <h5>{{!audit_details?.user.last_name ? 'N/A' : audit_details?.user.last_name | titlecase}} {{!audit_details?.user.first_name ? 'N/A' : audit_details?.user.first_name | titlecase}}</h5>
                  </div>
              </div>
              <div class="col-md-6 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Activity
                    </small>
                    <h5>{{!audit_details?.action ? 'N/A' : audit_details?.action}}</h5>
                  </div>
              </div>
              <div class="col-md-6 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Type
                    </small>
                    <h5>{{'-------'}}</h5>
                  </div>
              </div>
              <div class="col-md-6 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Date and Time
                    </small>
                    <h5>{{!audit_details?.created_on ? 'N/A' : audit_details?.created_on | date: 'medium'}}</h5>
                  </div>
              </div>
              <div class="col-md-6 text-left">
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <small class="text-muted">
                            Email
                        </small>
                        <h5>{{!audit_details?.user.email ? 'N/A' : audit_details?.user.email}}</h5>
                      </div>
                <!-- </div> -->
            </div>
            
            <div class="col-md-6 text-left">
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <small class="text-muted">
                            IP Address
                        </small>
                        <h5>{{!audit_details?.ip ? 'N/A' : audit_details?.ip}}</h5>
                      </div>
                <!-- </div> -->
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="!audit_details">
        <div class="card-body">
          <h3 class="text-center text-muted">Please wait...</h3>
        </div>
      </div>
    </div>
  </div>