<a routerLink="/app/audits/" class="return">&larr; Back to Audits</a>

<app-headers title="Audit Logs"></app-headers>


<div class="row">

    <div class="col-md-12 col-12 mb-12">
        <div class="card">
          <div class="card-body">
    
            <div class="row">
              <div class="col-md-6 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        User
                    </small>
                    <h5>Afenifere Olabode</h5>
                  </div>
              </div>
              <div class="col-md-6 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Activity
                    </small>
                    <h5>Afenifere credited wallet</h5>
                  </div>
              </div>
              <div class="col-md-6 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Type
                    </small>
                    <h5>Saver</h5>
                  </div>
              </div>
              <div class="col-md-6 text-left">
                  <div class="col-md-12">
                    <small class="text-muted">
                        Date and Time
                    </small>
                    <h5>14 Sep, 2019 - 9:45PM</h5>
                  </div>
              </div>
              <div class="col-md-6 text-left">
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <small class="text-muted">
                            Email
                        </small>
                        <h5>anifere.olabode@loans.com</h5>
                      </div>
                <!-- </div> -->
            </div>
            
            <div class="col-md-6 text-left">
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <small class="text-muted">
                            IP Address
                        </small>
                        <h5>41.98.102.12</h5>
                      </div>
                <!-- </div> -->
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>