<app-headers title="Account"></app-headers>


<div class="col-md-12">
    <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <form action="">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="account_name">Account Name</label>
                    <input type="text" disabled value="{{account_name}}" id="account_name" class="form-control ">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="email">Email Address</label>
                    <input type="email" disabled value="{{email}}" id="email" class="form-control ">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="mobile_no">Mobile Number</label>
                    <input type="text" disabled value="{{' Not available'}}" id="mobile_no" class="form-control ">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <button type="submit" (click)="open(content)" class="btn btn-primary col-md-12">Change Password</button>
                </div>
            
            </div>
            </form>
    </div>

    <div class="col-md-3"></div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
        <div class="row">
            <div class="col-md-12">
                <span class="pic medium square ml-12 profile-img" style="height: 17.5rem; ">
                  <img *ngIf="img_url === null" src="../../../../assets/img/nav/image.svg" alt="" class="img-fluid">
                  <img *ngIf="img_url !== null" src="{{img_url}}" alt="" class="img-fluid">
                </span>  


                    <input #imageInput
                           type="file"
                           style="display: none;"
                           accept="image/*"
                           (change)="processFile(imageInput)">
                           <button (click)="imageInput.click()" class="btn btn-primary col-md-12">Add Image</button>
                  
                  
                  <div *ngIf="selectedFile" style="margin-top: 5%;">
                  
                    <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                         [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
                    </div>
                  
                    <div *ngIf="selectedFile.pending" class="alert alert-info">
                      Uploading image...
                    </div>

                        <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
                        <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
                  </div>



                <!-- <div class="form-group col-md-12">
                    <input style="display: none;" type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput>
                    <button (click)="fileInput.click()" class="btn btn-primary col-md-12">Add Image</button>
                </div>

                <div class="form-group col-md-12">
                    <button (click)="onUpload" class="btn btn-success col-md-12">Upload!</button>
                </div> -->
            </div>
        </div>

       
    </div>

</div>

</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #acctForm="ngForm" (submit)="changePwd()">

        <div class="modal-body">
            <div class="alert alert-info" *ngIf="msg">{{msg}}</div>
            <!-- <div class="row"> -->
                <div class="form-group col-md-12">
                    <label for="old">Old Password</label>
                    <input type="password" id="old" [(ngModel)]="pwd.old_password" [ngModelOptions]="{standalone: true}" placeholder="Enter Your Old Password" class="form-control " required>
                </div>
                <div class="form-group col-md-12">
                    <label for="new">New Password</label>
                    <input type="password" id="new" [(ngModel)]="pwd.new_password" [ngModelOptions]="{standalone: true}" placeholder="Enter Your New Password" class="form-control " required>
                </div>
            <!-- </div> -->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success" [disabled]="acctForm.invalid">Change Password</button>
          <button type="button" class="btn btn-outline-danger"  (click)="d('Cross click')">Cancel</button>
        </div>

    </form>
  </ng-template>