<app-headers title="Savers"></app-headers>

<div class="row" *ngIf="savers">
    <div class="col-12">

      <!-- <div class="card"> -->

        <!-- <div class="card-body">
          <div class="row justify-content-between align-items-center">
            <div class="col">
              <h5 class="m-0 p-0 text-dark-blue">Loan Products</h5>
            </div>
  
            <div class="col-3">
              <span class="has-search">
                  <mat-icon class="icon ml-2">search</mat-icon>
                <input type="text" name="search" class="search form-control" />
              </span>
            </div>
          </div>
        </div> -->
        <mat-divider></mat-divider>
        <div class="table-responsive">
          
          <div class="row justify-content-between align-items-center">
            <div class="col">
              <h5 class="m-0 p-0 text-dark-blue">All Savers</h5>
            </div>
  
            <div class="col-md-5 col-12 mb-12">
              <span class="has-search">
                  <mat-icon class="icon ml-1 search-icon">search</mat-icon>
                <input type="text" name="search" placeholder="Search by ID, name, e.t.c" class="search form-control" />
              </span>
            </div>
          </div>

          <table class="table">
            <thead class="table-head">
              <tr>
                <th scope="col">Saver</th>
                <th scope="col">ID</th>
                <th scope="col">Date Joined</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody class="text-muted">
                <tr *ngFor="let saver of savers">
                  <td><a routerLink="{{saver.user_id}}/general">{{saver.last_name | titlecase}} {{saver.first_name | titlecase}}</a></td>
                  <td><a routerLink="{{saver.user_id}}/general">{{saver.user_id}}</a></td>
                    <td>{{saver.created_on | date}}</td>
                    <td *ngIf="saver.activated === 1"><span class="badge badge-success">Active</span></td>
                    <td *ngIf="saver.activated !== 1"><span class="badge badge-danger">Inactive</span></td>                   <td>
                      <span [matMenuTriggerFor]="action" class="action">
                        &#8226;&#8226;&#8226;
                        </span>
                    </td>
                  </tr>
                  <mat-menu #action="matMenu" class="mt-3">
                    <ng-container>
                      <button mat-menu-item routerLink="/">
                        <mat-icon svgIcon="activate"></mat-icon>
                        <span>Activate</span>
                      </button>
                      <button mat-menu-item routerLink="/">
                        <mat-icon svgIcon="deactivate"></mat-icon>
                        <span>Dectivate</span>
                      </button>
                      <button mat-menu-item routerLink="/">
                        <mat-icon svgIcon="blacklist"></mat-icon>
                        <span>Blacklist</span>
                      </button>
                    </ng-container>
                  </mat-menu>
                    <!-- <td>Okonkwo Henry</td>
                    <td>LSQ1234876</td>
                    <td><a routerLink="LSQ1234876/general">LSQ1234876</a></td>
                    <td><a routerLink="LSQ1234876/general">Okonkwo Henry</a></td>
                    <td>14, Sept 2019</td>
                    <td><ul class="status"><li class="active">Active</li></ul></td>
                    <span [matMenuTriggerFor]="action" class="action">
                    <td>&#8226;&#8226;&#8226;</td>
                    </span>
                  </tr> -->

                  <!-- <mat-menu #action="matMenu" class="mt-3">
                    <ng-container>
                      <button mat-menu-item routerLink="/">
                        <mat-icon svgIcon="activate"></mat-icon>
                        <span>Activate</span>
                      </button>
                      <button mat-menu-item routerLink="/">
                        <mat-icon svgIcon="deactivate"></mat-icon>
                        <span>Dectivate</span>
                      </button>
                      <button mat-menu-item routerLink="/">
                        <mat-icon svgIcon="blacklist"></mat-icon>
                        <span>Blacklist</span>
                      </button>
                    </ng-container>
                  </mat-menu> -->
            </tbody>
          </table>
        </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card" *ngIf="!savers">
          <div class="card-body">
            <h3 class="text-center text-muted">Retrieving Savers...</h3>
          </div>
        </div>
      </div>
    </div>
  