<a routerLink="/app/customers/savers" class="return">&larr; Back to Savers</a>

<div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body">
                    <div class="col-md-12 col-12 col-mb-12">
                        <span class="pic small round ml-12">
                            <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                        </span>
                        <div class="user-data">
                            <h3>Chihurumanya Okwechime</h3>
                            <small>LSQ38389290</small>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body-menu">
              <ul class="menu-list">
                  <li><a routerLink="/app/customers/savers/LSQ1234876/general/" routerLinkActive="active-link">General</a></li>
                  <li><a routerLink="/app/customers/savers/LSQ1234876/savings" routerLinkActive="active-link">Savings Plans</a></li>
                  <!-- <li><a routerLink="general">Wallet</a></li> -->
                  <li><a routerLink="/app/customers/savers/LSQ1234876/bank-details" routerLinkActive="active-link">Bank Details</a></li>
              </ul>  

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-12 col-mb-12">
        <h4>Banks</h4>
        <div class="card debit-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9 col-12 col-mb-12">
                        <div class="user-data">
                            <h6>Student Savings</h6>
                            <small>LSQ38389290</small>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 col-mb-12">
                        <div class="user-data">
                            <span class="pic small round ml-12">
                                <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9 col-12 col-mb-12">
                        <div class="user-data">
                            <h6 style="font-weight: bold;">FIRST BANK</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 col-mb-12">
                        <div class="user-data">
                           <h6 class="green">Active</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-12 col-mb-12"></div>


    <div class="col-md-5 col-12 col-mb-12">
        <h4>Cards</h4>
        <div class="card debit-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9 col-12 col-mb-12">
                        <div class="user-data" style="display: none;">
                            <h6>Student Savings</h6>
                            <small>LSQ38389290</small>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 col-mb-12">
                        <div class="user-data">
                            <span class="pic small round ml-12">
                                <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12 col-mb-12">
                        <div class="user-data">
                            <h6 style="font-weight: bold;">09/20</h6>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-mb-12">
                        <div class="user-data" style="float: right;">
                           <h6>XXXX XXXX XXXX 0497</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-5 col-12 col-mb-12">
        <div class="card debit-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9 col-12 col-mb-12">
                        <div class="user-data">
                            <h6>Student Savings</h6>
                            <small>LSQ38389290</small>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 col-mb-12">
                        <div class="user-data">
                            <span class="pic small round ml-12">
                                <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9 col-12 col-mb-12">
                        <div class="user-data">
                            <h6 style="font-weight: bold;">FIRST BANK</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 col-mb-12">
                        <div class="user-data">
                           <h6 class="green">Active</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-12 col-mb-12"></div>

</div>

