<a routerLink="/app/customers/savers" class="return">&larr; Back to Savers</a>

<div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body">
                    <div class="col-md-12 col-12 col-mb-12">
                        <span class="pic small round ml-12">
                            <img src="../../../../assets/img/placeholder-user.png" alt="" class="img-fluid">
                        </span>
                        <div class="user-data">
                            <h3>Chihurumanya Okwechime</h3>
                            <small>LSQ38389290</small>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body-menu">
              <ul class="menu-list">
                  <li><a routerLink="/app/customers/savers/LSQ1234876/general/" routerLinkActive="active-link">General</a></li>
                  <li><a routerLink="/app/customers/savers/LSQ1234876/savings" routerLinkActive="active-link">Savings Plans</a></li>
                  <!-- <li><a routerLink="general">Wallet</a></li> -->
                  <li><a routerLink="/app/customers/savers/LSQ1234876/bank-details" routerLinkActive="active-link">Bank Details</a></li>
              </ul>  

            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
  <div class="row row-eq-height my-5" style="padding-left: 0; padding-right: 0;">
    <div class="col-md-5 mb-4">
      <div style="position: relative; top: 0; left: -1rem;">
        <h4>Bank</h4>
      </div>
      <div class="card " style="position: relative; top: 0; left: -1rem;">
        <div class="card-body" style="padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;">
          <!-- <div class="row"> -->
            <div class="col-12 text-dark">
              <!-- <div class="row"> -->
                <div class="col-12 mb-4" style="padding-left: 0; padding-right: 0;">
                  <div class="row">
                    <div class="col">
                      <div class="text-muted">Bank</div>
                      <div class="text-uppercase">GTBank</div>
                    </div>
                    <div class="col-auto">
                      <img src="../../../../assets/img/gt.svg" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-12" >
                  <div class="row mt-1" style="padding-left: 0; padding-right: 0;">
                    <div class="col mb-4">
                      <div class="text-muted">Account Number</div>
                      <div class="text-uppercase">0115946917</div>
                    </div>
                    <div class="col-auto mb-4 text-right">
                      <div class="text-muted">BVN</div>
                      <div class="text-uppercase">22213136660</div>
                    </div>
                  </div>
                </div>
              <!-- </div> -->
            </div>
          <!-- </div> -->
        </div>
        <div class="card-footer">
          <!-- <div class="row"> -->
            <div class="col-12 text-right text-success">
              <b>ACTIVE</b>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="col-md-2 mb-4 mono"></div>

    <div class="col-md-5 mb-4">
      <div style="position: relative; top: 0; right: -1rem;">
        <h4>Card</h4>
      </div>
      <div class="card  card-gradient text-white" style="position: relative; top: 0; right: -1rem;">
        <div class="card-body ">
          <div class="row">
            <div class="col-12 my-2">
              <h3>**** **** **** 3452</h3>
            </div>

          </div>
          <div class="row align-items-end">
            <div class="col mt-5">
              <small>EXPIRES 12/20</small>
              <div class="mb-3">Chihurumanya Okwechime</div>
            </div>
            <div class="col-auto text-right">
              <img src="../../../../assets/img/master.svg"><br />
              mastercard
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>