
<app-headers title="Transactions"></app-headers>


<div *ngIf="stat">
  <div class="row">
    <div class="col-md-12 col-12 col-mb-12">
        <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <div class="user-data">
                      <h3>{{!total ? 'N/A' :total}}</h3>
                      <p class="text-muted">Total</p>
                  </div>
              </div>

              <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 green">
                <div class="user-data">
                    <h3>{{!stat?.success ? 'N/A' : stat?.success}}</h3>
                    <p class="text-muted">Successful</p>
                </div>
            </div>

            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 red">
              <div class="user-data">
                  <h3>{{!stat?.failed ? 'N/A' : stat?.failed}}</h3>
                  <p class="text-muted">Failed</p>
              </div>
          </div>

          <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="user-data">
                <h3>{{!stat?.reversed ? 'N/A' : stat?.reversed}}</h3>
                <p class="text-muted">Reversed</p>
            </div>
        </div>

        <!-- <div class="col-md-2 col-4 col-mb-4">
          <div class="user-data">
              <h3>0</h3>
              <p class="text-muted">Some Stat</p>
          </div>
      </div> -->
              </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="row"> -->

      <!-- <mat-divider></mat-divider> -->

      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">

            <!-- <div class="col-12"> -->
              <div class="row justify-content-between align-items-center">
                <div class="col">
                  <h5 class="m-0 p-0 text-dark-blue">All Transactions</h5>
                </div>
      
                <div class="col-md-5 col-12 mb-12">
                  <form>
                    <span class="has-search">
                      <mat-icon class="icon ml-1 search-icon">search</mat-icon>
                    <input type="text" id="search" [(ngModel)]="term" name="search" placeholder="Search by Transaction ID" class="search form-control" />
                  </span>
                </form>
              </div>


              </div>
            <!-- </div> -->

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">ID</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Type</th>
                  <th scope="col">Date</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody class="text-muted">
                <tr *ngFor="let eachTransaction of transaction | byId : term | paginate: {itemsPerPage: 10, currentPage: p}">
                  <td *ngIf="eachTransaction.status === 'success'"> <span class="badge badge-success">{{!eachTransaction.status ? 'N/A' : eachTransaction.status}}</span></td>
                  <td *ngIf="eachTransaction.status === 'pending'"> <span class="badge badge-warning">{{!eachTransaction.status ? 'N/A' : eachTransaction.status}}</span></td>
                  <td *ngIf="eachTransaction.status === 'failed'"> <span class="badge badge-danger">{{!eachTransaction.status ? 'N/A' : eachTransaction.status}}</span></td>
                  <td><a routerLink="{{eachTransaction.id}}">{{!eachTransaction.reference ? 'N/A' : eachTransaction.reference | uppercase}}</a></td>
                  <td><a routerLink="{{eachTransaction.id}}">{{!eachTransaction.user.first_name ? 'N/A' : eachTransaction.user.first_name | uppercase}} {{!eachTransaction.user.last_name ? 'N/A' : eachTransaction.user.last_name | uppercase}}</a></td>
                  <td>{{!eachTransaction.transaction_type.name ? 'N/A' : eachTransaction.transaction_type.name}}</td>
                  <td>{{!eachTransaction.created_on ? 'N/A' : eachTransaction.created_on | date:'medium'}}</td>
                  <td>{{!eachTransaction.amount_charged ? 'N/A' : eachTransaction.amount_charged | currency : '₦'}}</td>
                </tr>
              </tbody>
            </table>


            <div class="row my-3 justify-content-end">
              <div class="col-auto">
                <div *ngIf="pager?.pages && pager?.pages.length" class="pagination">
                  <div *ngIf="currentPage !== 0">
                    <a (click)="setNewPage(0)" class="page-link" [ngClass]="{'disabled' : pager?.currentPage === 0}">&laquo;</a>
                  </div>
                  <a *ngIf="currentPage !== 0" (click)="setNewPage(pager?.currentPage - 1)" class="page-link" [ngClass]="{'disabled' : pager?.currentPage === 0}">
                    &lsaquo;
                  </a>
                  <ng-container *ngFor="let page of pager.pages" class="page-item">
                    <a (click)="setNewPage(page + 1)" class="page-link" [ngClass]="{'active' : pager?.currentPage === page + 1}">{{page + 1}}</a>
                  </ng-container>
                  <a (click)="setNewPage(pager?.currentPage + 1)" class="page-link" [ngClass]="{'disabled' : pager?.currentPage === pager?.totalPages}">
                    &rsaquo;
                  </a>
                  <a (click)="setNewPage(pager?.totalPages)" class="page-link" [ngClass]="{'disabled' : pager?.currentPage === pager?.totalPages}">&raquo;</a>
                </div>
              </div>
            </div>


            <!-- <div class="row">
              <div class="col-md-12 text-center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div> -->
          </div>
        </div>
      </div>

</div>

    <!-- </div> -->


    <div class="row">
      <div class="col-md-12">
        <div class="card" *ngIf="!stat">
          <div class="card-body">
            <h3 class="text-center text-muted">Loading...</h3>
          </div>
        </div>
      </div>
    </div>


    <!-- <div style="text-align:center">
      <h4>
        Basic Pagination
      </h4>
     
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of collection.data | paginate: config">
            <th scope="row">{{item.id}}</th>
            <td>{{item.value}}</td>
          </tr>
        </tbody>
      </table>
     
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
     
    </div> -->